In [111]:
from itertools import groupby

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

from fontTools.misc.cython import returns

In [112]:
warnings.filterwarnings("ignore")

## Part 1: Data Cleaning and Summary

In [113]:
df = pd.read_excel('data_raw_VN.xlsx')
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Total Assets,Net Income after Tax,Operating Expenses - Total,Other Operating Income,Other Operating Expense,...,Retained Earnings - Total,Property Plant & Equipment - Gross - Total,Property Plant & Equipment - Net - Total,Intangible Assets - Gross - Total,Market Capitalization,Total Fixed Assets - Net,Depreciation - Total,Income Taxes,industry,age
0,CHP.HM2008,CHP.HM39813,CHP.HM,CHP2008,2008-12-31,592533624000,0,0,NaN,NaN,...,NaN,339550305000,338506149000,NaN,NaN,NaN,NaN,NaN,Utilities,4
1,CHP.HM2009,CHP.HM40178,CHP.HM,CHP2009,2009-12-31,1080056965000,0,0,NaN,NaN,...,NaN,693384645000,691677237000,1664100000,NaN,340800157000,0,0,Utilities,5
2,CHP.HM2010,CHP.HM40543,CHP.HM,CHP2010,2010-12-31,2107224794000,0,0,NaN,NaN,...,NaN,1534255838000,1531873783000,1707854000,NaN,693687610000,663252000,0,Utilities,6
3,CHP.HM2011,CHP.HM40908,CHP.HM,CHP2011,2011-12-31,3168955083818,0,0,NaN,NaN,...,NaN,2785852764701,2782670514650,117154000,206680598688.60199,1533689822000,674647100,0,Utilities,7
4,CHP.HM2012,CHP.HM41274,CHP.HM,CHP2012,2012-12-31,3327121186837,-6956706071,144323468890,NaN,816302413,...,-6956706071,3142447185792,3029046379584,132154000,235219323695.040985,2784347947707,800195068,0,Utilities,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10532,IJC.HM2022,IJC.HM44926,IJC.HM,IJC2022,2022-12-31,6523412492143,511049064027,1262994630543,NaN,NaN,...,958469074670,1464562885466,924502553541,NaN,7417567037121.320312,1292854581099,40431425706,161717783908,Industrials,15
10533,IJC.HM2023,IJC.HM45291,IJC.HM,IJC2023,2023-12-31,6403754434823,394852892967,944491194125,NaN,NaN,...,466824126039,1515503720094,926663237174,28508012037,2867493966359.970215,1355627074204,44827113863,129455417260,Industrials,16
10534,SBG.HM2021,SBG.HM44561,SBG.HM,SBG2021,2021-12-31,1612459922408,15015706837,5850519466035,NaN,NaN,...,18876783193,204294605427,202992507526,NaN,NaN,NaN,NaN,NaN,Industrials,6
10535,SBG.HM2022,SBG.HM44926,SBG.HM,SBG2022,2022-12-31,2105326516012,37614389567,3959199438975,NaN,NaN,...,56287460606,261362050230,251944792383,NaN,NaN,NaN,NaN,NaN,Industrials,7
10536,SBG.HM2023,SBG.HM45291,SBG.HM,SBG2023,2023-12-31,1197290909878,32543924290,3606216022623,NaN,NaN,...,88563374880,264152513977,242506831272,NaN,NaN,206387353781,853611612,3744360891,Industrials,8

### 1. Identify and list all columns with missing values.

In [114]:
df.nunique()

Unnamed: 0                                                      10532
Unnamed: 1                                                      10532
Unnamed: 2                                                        705
Unnamed: 3                                                      10532
Unnamed: 4                                                         75
Total Assets                                                    10367
Net Income after Tax                                            10415
Operating Expenses - Total                                      10419
Other Operating Income                                            373
Other Operating Expense                                           575
Revenue from Business Activities - Total                        10393
Cost of Operating Revenue                                        9895
Revenue from Goods & Services                                    9600
Gross Revenue from Business Activities - Total                   7514
Debt - Total                                                     8304
Total Liabilities                                               10370
Interest Income - Actual                                          122
Interest Expense - Net of (Interest Income)                      9878
Inventory - Actual                                                826
Cash & Cash Equivalents - Total                                 10364
Working Capital                                                  9941
Total Current Assets                                             9942
Short-Term Debt & Current Portion of Long-Term Debt              7962
Dividends Paid - Cash - Total - Cash Flow                        6732
Cost of Goods Sold / Sales, % (Pvt)                              9850
Cost of Operating Revenue.1                                      9895
Accounts Payable including Accrued Expenses - Long-Term           711
Payables & Accrued Expenses                                     10286
Provision of Doubtful Trade Acct & Trade Notes Payable Total       18
Retained Earnings - Total                                       10135
Property Plant & Equipment - Gross - Total                      10050
Property Plant & Equipment - Net - Total                        10278
Intangible Assets - Gross - Total                                3814
Market Capitalization                                            7966
Total Fixed Assets - Net                                         8846
Depreciation - Total                                             7946
Income Taxes                                                     8903
industry                                                           11
age                                                                88
dtype: int64

In [115]:
df.dtypes

Unnamed: 0                                                              object
Unnamed: 1                                                              object
Unnamed: 2                                                              object
Unnamed: 3                                                              object
Unnamed: 4                                                      datetime64[ns]
Total Assets                                                            object
Net Income after Tax                                                    object
Operating Expenses - Total                                              object
Other Operating Income                                                  object
Other Operating Expense                                                 object
Revenue from Business Activities - Total                                object
Cost of Operating Revenue                                               object
Revenue from Goods & Services                                           object
Gross Revenue from Business Activities - Total                          object
Debt - Total                                                            object
Total Liabilities                                                       object
Interest Income - Actual                                               float64
Interest Expense - Net of (Interest Income)                             object
Inventory - Actual                                                     float64
Cash & Cash Equivalents - Total                                         object
Working Capital                                                         object
Total Current Assets                                                    object
Short-Term Debt & Current Portion of Long-Term Debt                     object
Dividends Paid - Cash - Total - Cash Flow                               object
Cost of Goods Sold / Sales, % (Pvt)                                     object
Cost of Operating Revenue.1                                             object
Accounts Payable including Accrued Expenses - Long-Term                 object
Payables & Accrued Expenses                                             object
Provision of Doubtful Trade Acct & Trade Notes Payable Total            object
Retained Earnings - Total                                               object
Property Plant & Equipment - Gross - Total                              object
Property Plant & Equipment - Net - Total                                object
Intangible Assets - Gross - Total                                       object
Market Capitalization                                                   object
Total Fixed Assets - Net                                                object
Depreciation - Total                                                    object
Income Taxes                                                            object
industry                                                                object
age                                                                      int64
dtype: object

In [116]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10537 entries, 0 to 10536
Data columns (total 39 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Unnamed: 0                                                    10537 non-null  object
 1   Unnamed: 1                                                    10537 non-null  object
 2   Unnamed: 2                                                    10537 non-null  object
 3   Unnamed: 3                                                    10537 non-null  object
 4   Unnamed: 4                                                    10534 non-null  datetime64[ns]
 5   Total Assets                                                  10380 non-null  object
 6   Net Income after Tax                                          10432 non-null  object
 7   Operating Expenses - Total                                    10430 non-null  object
 8   Other Operating Income                                        396 non-null    object
 9   Other Operating Expense                                       654 non-null    object
 10  Revenue from Business Activities - Total                      10424 non-null  object
 11  Cost of Operating Revenue                                     9939 non-null   object
 12  Revenue from Goods & Services                                 9630 non-null   object
 13  Gross Revenue from Business Activities - Total                7526 non-null   object
 14  Debt - Total                                                  9125 non-null   object
 15  Total Liabilities                                             10382 non-null  object
 16  Interest Income - Actual                                      122 non-null    float64
 17  Interest Expense - Net of (Interest Income)                   9901 non-null   object
 18  Inventory - Actual                                            831 non-null    float64
 19  Cash & Cash Equivalents - Total                               10373 non-null  object
 20  Working Capital                                               9951 non-null   object
 21  Total Current Assets                                          9953 non-null   object
 22  Short-Term Debt & Current Portion of Long-Term Debt           8905 non-null   object
 23  Dividends Paid - Cash - Total - Cash Flow                     7797 non-null   object
 24  Cost of Goods Sold / Sales, % (Pvt)                           9886 non-null   object
 25  Cost of Operating Revenue.1                                   9939 non-null   object
 26  Accounts Payable including Accrued Expenses - Long-Term       927 non-null    object
 27  Payables & Accrued Expenses                                   10304 non-null  object
 28  Provision of Doubtful Trade Acct & Trade Notes Payable Total  24 non-null     object
 29  Retained Earnings - Total                                     10210 non-null  object
 30  Property Plant & Equipment - Gross - Total                    10333 non-null  object
 31  Property Plant & Equipment - Net - Total                      10355 non-null  object
 32  Intangible Assets - Gross - Total                             6619 non-null   object
 33  Market Capitalization                                         8166 non-null   object
 34  Total Fixed Assets - Net                                      8869 non-null   object
 35  Depreciation - Total                                          8025 non-null   object
 36  Income Taxes                                                  9601 non-null   object
 37  industry                                                      10529 non-null  object
 38  age                                                           10537 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(1), object(35)
memory usage: 3.1+ MB

In [117]:
# inspect and print out columns with null values
missing_value = df.isnull().sum()
missing_value

Unnamed: 0                                                          0
Unnamed: 1                                                          0
Unnamed: 2                                                          0
Unnamed: 3                                                          0
Unnamed: 4                                                          3
Total Assets                                                      157
Net Income after Tax                                              105
Operating Expenses - Total                                        107
Other Operating Income                                          10141
Other Operating Expense                                          9883
Revenue from Business Activities - Total                          113
Cost of Operating Revenue                                         598
Revenue from Goods & Services                                     907
Gross Revenue from Business Activities - Total                   3011
Debt - Total                                                     1412
Total Liabilities                                                 155
Interest Income - Actual                                        10415
Interest Expense - Net of (Interest Income)                       636
Inventory - Actual                                               9706
Cash & Cash Equivalents - Total                                   164
Working Capital                                                   586
Total Current Assets                                              584
Short-Term Debt & Current Portion of Long-Term Debt              1632
Dividends Paid - Cash - Total - Cash Flow                        2740
Cost of Goods Sold / Sales, % (Pvt)                               651
Cost of Operating Revenue.1                                       598
Accounts Payable including Accrued Expenses - Long-Term          9610
Payables & Accrued Expenses                                       233
Provision of Doubtful Trade Acct & Trade Notes Payable Total    10513
Retained Earnings - Total                                         327
Property Plant & Equipment - Gross - Total                        204
Property Plant & Equipment - Net - Total                          182
Intangible Assets - Gross - Total                                3918
Market Capitalization                                            2371
Total Fixed Assets - Net                                         1668
Depreciation - Total                                             2512
Income Taxes                                                      936
industry                                                            8
age                                                                 0
dtype: int64

In [118]:
# only print columns with null values greater than 0
missing_value_gt_zero = missing_value[missing_value > 0]
print('Columns with missing values and their counts:')
missing_value_gt_zero

Columns with missing values and their counts:

Unnamed: 4                                                          3
Total Assets                                                      157
Net Income after Tax                                              105
Operating Expenses - Total                                        107
Other Operating Income                                          10141
Other Operating Expense                                          9883
Revenue from Business Activities - Total                          113
Cost of Operating Revenue                                         598
Revenue from Goods & Services                                     907
Gross Revenue from Business Activities - Total                   3011
Debt - Total                                                     1412
Total Liabilities                                                 155
Interest Income - Actual                                        10415
Interest Expense - Net of (Interest Income)                       636
Inventory - Actual                                               9706
Cash & Cash Equivalents - Total                                   164
Working Capital                                                   586
Total Current Assets                                              584
Short-Term Debt & Current Portion of Long-Term Debt              1632
Dividends Paid - Cash - Total - Cash Flow                        2740
Cost of Goods Sold / Sales, % (Pvt)                               651
Cost of Operating Revenue.1                                       598
Accounts Payable including Accrued Expenses - Long-Term          9610
Payables & Accrued Expenses                                       233
Provision of Doubtful Trade Acct & Trade Notes Payable Total    10513
Retained Earnings - Total                                         327
Property Plant & Equipment - Gross - Total                        204
Property Plant & Equipment - Net - Total                          182
Intangible Assets - Gross - Total                                3918
Market Capitalization                                            2371
Total Fixed Assets - Net                                         1668
Depreciation - Total                                             2512
Income Taxes                                                      936
industry                                                            8
dtype: int64

### 2.	Replace missing values in the following manner

In [119]:
# Identify numerical columns
numerical_cols = df.select_dtypes(include=['float64', 'int64']).columns
numerical_cols

Index(['Interest Income - Actual', 'Inventory - Actual', 'age'], dtype='object')

In [120]:
# Fill NaN values in numerical columns with their respective medians
for col in numerical_cols:
    median_value = df[col].median()
    df[col].fillna(median_value, inplace=True)

df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Total Assets,Net Income after Tax,Operating Expenses - Total,Other Operating Income,Other Operating Expense,...,Retained Earnings - Total,Property Plant & Equipment - Gross - Total,Property Plant & Equipment - Net - Total,Intangible Assets - Gross - Total,Market Capitalization,Total Fixed Assets - Net,Depreciation - Total,Income Taxes,industry,age
0,CHP.HM2008,CHP.HM39813,CHP.HM,CHP2008,2008-12-31,592533624000,0,0,NaN,NaN,...,NaN,339550305000,338506149000,NaN,NaN,NaN,NaN,NaN,Utilities,4
1,CHP.HM2009,CHP.HM40178,CHP.HM,CHP2009,2009-12-31,1080056965000,0,0,NaN,NaN,...,NaN,693384645000,691677237000,1664100000,NaN,340800157000,0,0,Utilities,5
2,CHP.HM2010,CHP.HM40543,CHP.HM,CHP2010,2010-12-31,2107224794000,0,0,NaN,NaN,...,NaN,1534255838000,1531873783000,1707854000,NaN,693687610000,663252000,0,Utilities,6
3,CHP.HM2011,CHP.HM40908,CHP.HM,CHP2011,2011-12-31,3168955083818,0,0,NaN,NaN,...,NaN,2785852764701,2782670514650,117154000,206680598688.60199,1533689822000,674647100,0,Utilities,7
4,CHP.HM2012,CHP.HM41274,CHP.HM,CHP2012,2012-12-31,3327121186837,-6956706071,144323468890,NaN,816302413,...,-6956706071,3142447185792,3029046379584,132154000,235219323695.040985,2784347947707,800195068,0,Utilities,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10532,IJC.HM2022,IJC.HM44926,IJC.HM,IJC2022,2022-12-31,6523412492143,511049064027,1262994630543,NaN,NaN,...,958469074670,1464562885466,924502553541,NaN,7417567037121.320312,1292854581099,40431425706,161717783908,Industrials,15
10533,IJC.HM2023,IJC.HM45291,IJC.HM,IJC2023,2023-12-31,6403754434823,394852892967,944491194125,NaN,NaN,...,466824126039,1515503720094,926663237174,28508012037,2867493966359.970215,1355627074204,44827113863,129455417260,Industrials,16
10534,SBG.HM2021,SBG.HM44561,SBG.HM,SBG2021,2021-12-31,1612459922408,15015706837,5850519466035,NaN,NaN,...,18876783193,204294605427,202992507526,NaN,NaN,NaN,NaN,NaN,Industrials,6
10535,SBG.HM2022,SBG.HM44926,SBG.HM,SBG2022,2022-12-31,2105326516012,37614389567,3959199438975,NaN,NaN,...,56287460606,261362050230,251944792383,NaN,NaN,NaN,NaN,NaN,Industrials,7
10536,SBG.HM2023,SBG.HM45291,SBG.HM,SBG2023,2023-12-31,1197290909878,32543924290,3606216022623,NaN,NaN,...,88563374880,264152513977,242506831272,NaN,NaN,206387353781,853611612,3744360891,Industrials,8

In [121]:
# Identify categorical columns
categorical_cols = df.select_dtypes(include=['object']).columns
categorical_cols

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Total Assets',
       'Net Income after Tax', 'Operating Expenses - Total',
       'Other Operating Income', 'Other Operating Expense',
       'Revenue from Business Activities - Total', 'Cost of Operating Revenue',
       'Revenue from Goods & Services',
       'Gross Revenue from Business Activities - Total', 'Debt - Total',
       'Total Liabilities', 'Interest Expense - Net of (Interest Income)',
       'Cash & Cash Equivalents - Total', 'Working Capital',
       'Total Current Assets',
       'Short-Term Debt & Current Portion of Long-Term Debt',
       'Dividends Paid - Cash - Total - Cash Flow',
       'Cost of Goods Sold / Sales, % (Pvt)', 'Cost of Operating Revenue.1',
       'Accounts Payable including Accrued Expenses - Long-Term',
       'Payables & Accrued Expenses',
       'Provision of Doubtful Trade Acct & Trade Notes Payable Total',
       'Retained Earnings - Total',
       'Property Plant & Equipment - Gross - Total',
       'Property Plant & Equipment - Net - Total',
       'Intangible Assets - Gross - Total', 'Market Capitalization',
       'Total Fixed Assets - Net', 'Depreciation - Total', 'Income Taxes',
       'industry'],
      dtype='object')

In [122]:
# Fill NaN values in categorical columns with their respective mode
for col in categorical_cols:
    mode_value = df[col].mode()[0]
    df[col].fillna(mode_value, inplace=True)

df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Total Assets,Net Income after Tax,Operating Expenses - Total,Other Operating Income,Other Operating Expense,...,Retained Earnings - Total,Property Plant & Equipment - Gross - Total,Property Plant & Equipment - Net - Total,Intangible Assets - Gross - Total,Market Capitalization,Total Fixed Assets - Net,Depreciation - Total,Income Taxes,industry,age
0,CHP.HM2008,CHP.HM39813,CHP.HM,CHP2008,2008-12-31,592533624000,0,0,0,0,...,0,339550305000,338506149000,0,54000000000,0,0,0,Utilities,4
1,CHP.HM2009,CHP.HM40178,CHP.HM,CHP2009,2009-12-31,1080056965000,0,0,0,0,...,0,693384645000,691677237000,1664100000,54000000000,340800157000,0,0,Utilities,5
2,CHP.HM2010,CHP.HM40543,CHP.HM,CHP2010,2010-12-31,2107224794000,0,0,0,0,...,0,1534255838000,1531873783000,1707854000,54000000000,693687610000,663252000,0,Utilities,6
3,CHP.HM2011,CHP.HM40908,CHP.HM,CHP2011,2011-12-31,3168955083818,0,0,0,0,...,0,2785852764701,2782670514650,117154000,206680598688.60199,1533689822000,674647100,0,Utilities,7
4,CHP.HM2012,CHP.HM41274,CHP.HM,CHP2012,2012-12-31,3327121186837,-6956706071,144323468890,0,816302413,...,-6956706071,3142447185792,3029046379584,132154000,235219323695.040985,2784347947707,800195068,0,Utilities,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10532,IJC.HM2022,IJC.HM44926,IJC.HM,IJC2022,2022-12-31,6523412492143,511049064027,1262994630543,0,0,...,958469074670,1464562885466,924502553541,0,7417567037121.320312,1292854581099,40431425706,161717783908,Industrials,15
10533,IJC.HM2023,IJC.HM45291,IJC.HM,IJC2023,2023-12-31,6403754434823,394852892967,944491194125,0,0,...,466824126039,1515503720094,926663237174,28508012037,2867493966359.970215,1355627074204,44827113863,129455417260,Industrials,16
10534,SBG.HM2021,SBG.HM44561,SBG.HM,SBG2021,2021-12-31,1612459922408,15015706837,5850519466035,0,0,...,18876783193,204294605427,202992507526,0,54000000000,0,0,0,Industrials,6
10535,SBG.HM2022,SBG.HM44926,SBG.HM,SBG2022,2022-12-31,2105326516012,37614389567,3959199438975,0,0,...,56287460606,261362050230,251944792383,0,54000000000,0,0,0,Industrials,7
10536,SBG.HM2023,SBG.HM45291,SBG.HM,SBG2023,2023-12-31,1197290909878,32543924290,3606216022623,0,0,...,88563374880,264152513977,242506831272,0,54000000000,206387353781,853611612,3744360891,Industrials,8

### 3. Convert these columns to appropriate numerical formats and handle any errors that arise during conversion.

In [123]:
# Convert these cols to appropriate numerical formats
object_columns = df.select_dtypes(include=['object']).columns
object_columns = object_columns.drop(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3','industry'])
object_columns

Index(['Total Assets', 'Net Income after Tax', 'Operating Expenses - Total',
       'Other Operating Income', 'Other Operating Expense',
       'Revenue from Business Activities - Total', 'Cost of Operating Revenue',
       'Revenue from Goods & Services',
       'Gross Revenue from Business Activities - Total', 'Debt - Total',
       'Total Liabilities', 'Interest Expense - Net of (Interest Income)',
       'Cash & Cash Equivalents - Total', 'Working Capital',
       'Total Current Assets',
       'Short-Term Debt & Current Portion of Long-Term Debt',
       'Dividends Paid - Cash - Total - Cash Flow',
       'Cost of Goods Sold / Sales, % (Pvt)', 'Cost of Operating Revenue.1',
       'Accounts Payable including Accrued Expenses - Long-Term',
       'Payables & Accrued Expenses',
       'Provision of Doubtful Trade Acct & Trade Notes Payable Total',
       'Retained Earnings - Total',
       'Property Plant & Equipment - Gross - Total',
       'Property Plant & Equipment - Net - Total',
       'Intangible Assets - Gross - Total', 'Market Capitalization',
       'Total Fixed Assets - Net', 'Depreciation - Total', 'Income Taxes'],
      dtype='object')

In [124]:
for col in object_columns:
    df[col] = df[col].apply(pd.to_numeric, errors='coerce')
df.dtypes

Unnamed: 0                                                              object
Unnamed: 1                                                              object
Unnamed: 2                                                              object
Unnamed: 3                                                              object
Unnamed: 4                                                      datetime64[ns]
Total Assets                                                           float64
Net Income after Tax                                                   float64
Operating Expenses - Total                                             float64
Other Operating Income                                                 float64
Other Operating Expense                                                float64
Revenue from Business Activities - Total                               float64
Cost of Operating Revenue                                              float64
Revenue from Goods & Services                                          float64
Gross Revenue from Business Activities - Total                         float64
Debt - Total                                                           float64
Total Liabilities                                                      float64
Interest Income - Actual                                               float64
Interest Expense - Net of (Interest Income)                            float64
Inventory - Actual                                                     float64
Cash & Cash Equivalents - Total                                        float64
Working Capital                                                        float64
Total Current Assets                                                   float64
Short-Term Debt & Current Portion of Long-Term Debt                    float64
Dividends Paid - Cash - Total - Cash Flow                              float64
Cost of Goods Sold / Sales, % (Pvt)                                    float64
Cost of Operating Revenue.1                                            float64
Accounts Payable including Accrued Expenses - Long-Term                float64
Payables & Accrued Expenses                                            float64
Provision of Doubtful Trade Acct & Trade Notes Payable Total           float64
Retained Earnings - Total                                              float64
Property Plant & Equipment - Gross - Total                             float64
Property Plant & Equipment - Net - Total                               float64
Intangible Assets - Gross - Total                                      float64
Market Capitalization                                                  float64
Total Fixed Assets - Net                                               float64
Depreciation - Total                                                   float64
Income Taxes                                                           float64
industry                                                                object
age                                                                      int64
dtype: object

In [125]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Total Assets,Net Income after Tax,Operating Expenses - Total,Other Operating Income,Other Operating Expense,...,Retained Earnings - Total,Property Plant & Equipment - Gross - Total,Property Plant & Equipment - Net - Total,Intangible Assets - Gross - Total,Market Capitalization,Total Fixed Assets - Net,Depreciation - Total,Income Taxes,industry,age
0,CHP.HM2008,CHP.HM39813,CHP.HM,CHP2008,2008-12-31,5.925336e+11,0.000000e+00,0.000000e+00,0.0,0.0,...,0.000000e+00,3.395503e+11,3.385061e+11,0.000000e+00,5.400000e+10,0.000000e+00,0.000000e+00,0.000000e+00,Utilities,4
1,CHP.HM2009,CHP.HM40178,CHP.HM,CHP2009,2009-12-31,1.080057e+12,0.000000e+00,0.000000e+00,0.0,0.0,...,0.000000e+00,6.933846e+11,6.916772e+11,1.664100e+09,5.400000e+10,3.408002e+11,0.000000e+00,0.000000e+00,Utilities,5
2,CHP.HM2010,CHP.HM40543,CHP.HM,CHP2010,2010-12-31,2.107225e+12,0.000000e+00,0.000000e+00,0.0,0.0,...,0.000000e+00,1.534256e+12,1.531874e+12,1.707854e+09,5.400000e+10,6.936876e+11,6.632520e+08,0.000000e+00,Utilities,6
3,CHP.HM2011,CHP.HM40908,CHP.HM,CHP2011,2011-12-31,3.168955e+12,0.000000e+00,0.000000e+00,0.0,0.0,...,0.000000e+00,2.785853e+12,2.782671e+12,1.171540e+08,2.066806e+11,1.533690e+12,6.746471e+08,0.000000e+00,Utilities,7
4,CHP.HM2012,CHP.HM41274,CHP.HM,CHP2012,2012-12-31,3.327121e+12,-6.956706e+09,1.443235e+11,0.0,816302413.0,...,-6.956706e+09,3.142447e+12,3.029046e+12,1.321540e+08,2.352193e+11,2.784348e+12,8.001951e+08,0.000000e+00,Utilities,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10532,IJC.HM2022,IJC.HM44926,IJC.HM,IJC2022,2022-12-31,6.523412e+12,5.110491e+11,1.262995e+12,0.0,0.0,...,9.584691e+11,1.464563e+12,9.245026e+11,0.000000e+00,7.417567e+12,1.292855e+12,4.043143e+10,1.617178e+11,Industrials,15
10533,IJC.HM2023,IJC.HM45291,IJC.HM,IJC2023,2023-12-31,6.403754e+12,3.948529e+11,9.444912e+11,0.0,0.0,...,4.668241e+11,1.515504e+12,9.266632e+11,2.850801e+10,2.867494e+12,1.355627e+12,4.482711e+10,1.294554e+11,Industrials,16
10534,SBG.HM2021,SBG.HM44561,SBG.HM,SBG2021,2021-12-31,1.612460e+12,1.501571e+10,5.850519e+12,0.0,0.0,...,1.887678e+10,2.042946e+11,2.029925e+11,0.000000e+00,5.400000e+10,0.000000e+00,0.000000e+00,0.000000e+00,Industrials,6
10535,SBG.HM2022,SBG.HM44926,SBG.HM,SBG2022,2022-12-31,2.105327e+12,3.761439e+10,3.959199e+12,0.0,0.0,...,5.628746e+10,2.613621e+11,2.519448e+11,0.000000e+00,5.400000e+10,0.000000e+00,0.000000e+00,0.000000e+00,Industrials,7
10536,SBG.HM2023,SBG.HM45291,SBG.HM,SBG2023,2023-12-31,1.197291e+12,3.254392e+10,3.606216e+12,0.0,0.0,...,8.856337e+10,2.641525e+11,2.425068e+11,0.000000e+00,5.400000e+10,2.063874e+11,8.536116e+08,3.744361e+09,Industrials,8

## Part 2: Data Integrity Checks

### # 4. Check for duplicate rows and remove them if they exist

In [126]:
df = df.drop_duplicates()

In [127]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Total Assets,Net Income after Tax,Operating Expenses - Total,Other Operating Income,Other Operating Expense,...,Retained Earnings - Total,Property Plant & Equipment - Gross - Total,Property Plant & Equipment - Net - Total,Intangible Assets - Gross - Total,Market Capitalization,Total Fixed Assets - Net,Depreciation - Total,Income Taxes,industry,age
0,CHP.HM2008,CHP.HM39813,CHP.HM,CHP2008,2008-12-31,5.925336e+11,0.000000e+00,0.000000e+00,0.0,0.0,...,0.000000e+00,3.395503e+11,3.385061e+11,0.000000e+00,5.400000e+10,0.000000e+00,0.000000e+00,0.000000e+00,Utilities,4
1,CHP.HM2009,CHP.HM40178,CHP.HM,CHP2009,2009-12-31,1.080057e+12,0.000000e+00,0.000000e+00,0.0,0.0,...,0.000000e+00,6.933846e+11,6.916772e+11,1.664100e+09,5.400000e+10,3.408002e+11,0.000000e+00,0.000000e+00,Utilities,5
2,CHP.HM2010,CHP.HM40543,CHP.HM,CHP2010,2010-12-31,2.107225e+12,0.000000e+00,0.000000e+00,0.0,0.0,...,0.000000e+00,1.534256e+12,1.531874e+12,1.707854e+09,5.400000e+10,6.936876e+11,6.632520e+08,0.000000e+00,Utilities,6
3,CHP.HM2011,CHP.HM40908,CHP.HM,CHP2011,2011-12-31,3.168955e+12,0.000000e+00,0.000000e+00,0.0,0.0,...,0.000000e+00,2.785853e+12,2.782671e+12,1.171540e+08,2.066806e+11,1.533690e+12,6.746471e+08,0.000000e+00,Utilities,7
4,CHP.HM2012,CHP.HM41274,CHP.HM,CHP2012,2012-12-31,3.327121e+12,-6.956706e+09,1.443235e+11,0.0,816302413.0,...,-6.956706e+09,3.142447e+12,3.029046e+12,1.321540e+08,2.352193e+11,2.784348e+12,8.001951e+08,0.000000e+00,Utilities,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10532,IJC.HM2022,IJC.HM44926,IJC.HM,IJC2022,2022-12-31,6.523412e+12,5.110491e+11,1.262995e+12,0.0,0.0,...,9.584691e+11,1.464563e+12,9.245026e+11,0.000000e+00,7.417567e+12,1.292855e+12,4.043143e+10,1.617178e+11,Industrials,15
10533,IJC.HM2023,IJC.HM45291,IJC.HM,IJC2023,2023-12-31,6.403754e+12,3.948529e+11,9.444912e+11,0.0,0.0,...,4.668241e+11,1.515504e+12,9.266632e+11,2.850801e+10,2.867494e+12,1.355627e+12,4.482711e+10,1.294554e+11,Industrials,16
10534,SBG.HM2021,SBG.HM44561,SBG.HM,SBG2021,2021-12-31,1.612460e+12,1.501571e+10,5.850519e+12,0.0,0.0,...,1.887678e+10,2.042946e+11,2.029925e+11,0.000000e+00,5.400000e+10,0.000000e+00,0.000000e+00,0.000000e+00,Industrials,6
10535,SBG.HM2022,SBG.HM44926,SBG.HM,SBG2022,2022-12-31,2.105327e+12,3.761439e+10,3.959199e+12,0.0,0.0,...,5.628746e+10,2.613621e+11,2.519448e+11,0.000000e+00,5.400000e+10,0.000000e+00,0.000000e+00,0.000000e+00,Industrials,7
10536,SBG.HM2023,SBG.HM45291,SBG.HM,SBG2023,2023-12-31,1.197291e+12,3.254392e+10,3.606216e+12,0.0,0.0,...,8.856337e+10,2.641525e+11,2.425068e+11,0.000000e+00,5.400000e+10,2.063874e+11,8.536116e+08,3.744361e+09,Industrials,8

### # 5. Validate dates within the range of 2008 to 2023

In [128]:
# inspect the column that contains the dates
df['Unnamed: 4'] = pd.to_datetime(df['Unnamed: 4'], errors='coerce')

# Check for any dates outside the range 2008-2023
invalid_dates = df[(df['Unnamed: 4'] < '2008-01-01') | (df['Unnamed: 4'] > '2023-12-31')]

# Remove rows with invalid dates
df_valid_dates = df[(df['Unnamed: 4'] >= '2008-01-01') & (df['Unnamed: 4'] <= '2023-12-31')]
df = df_valid_dates
# Display results: count of duplicates removed and invalid dates
invalid_dates_list = invalid_dates[['Unnamed: 4']]
invalid_dates_list.value_counts()

Unnamed: 4
2007-12-31    299
2006-12-31    228
2005-12-31    176
2004-12-31    140
2003-12-31     58
2002-12-31     26
2001-12-31     19
2000-12-31     16
1999-12-31     11
2024-03-31      6
2024-06-30      5
2024-09-30      3
2006-12-28      2
1999-06-30      1
2005-01-31      1
2005-11-30      1
2007-10-15      1
Name: count, dtype: int64

In [129]:
df['Unnamed: 4'].value_counts()

Unnamed: 4
2022-12-31    685
2021-12-31    684
2023-12-31    683
2020-12-31    682
2019-12-31    678
2018-12-31    676
2017-12-31    665
2016-12-31    654
2015-12-31    621
2014-12-31    572
2013-12-31    512
2012-12-31    485
2011-12-31    466
2010-12-31    459
2009-12-31    445
2008-12-31    391
2021-09-30      7
2020-09-30      7
2019-09-30      7
2020-03-31      7
2021-03-31      7
2018-03-31      7
2019-03-31      7
2022-09-30      7
2023-09-30      7
2017-03-31      6
2022-03-31      6
2023-03-31      6
2016-03-31      6
2015-03-31      5
2017-09-30      5
2016-09-30      5
2018-09-30      5
2023-06-30      5
2022-06-30      4
2019-06-30      4
2016-06-30      4
2018-06-30      4
2017-06-30      4
2020-06-30      4
2021-06-30      4
2013-09-30      3
2015-09-30      3
2014-09-30      3
2012-09-30      3
2012-03-31      3
2013-03-31      3
2014-03-31      3
2011-09-30      3
2010-03-31      2
2009-09-30      2
2010-09-30      2
2015-06-30      2
2011-03-31      2
2008-09-30      1
2014-06-30      1
2008-03-31      1
2008-12-13      1
Name: count, dtype: int64

## Part 3: Derived Metrics (Expanded)

### 6. Calculate a new column Debt Ratio, defined as the ratio of Total Liabilities to Total Assets. For rows where Total Assets is zero or missing, replace the value of Debt Ratio with NaN and explain why this adjustment is necessary in financial terms.

In [130]:
df.rename(columns={'Unnamed: 4':'Date',
                   'Unnamed: 2':'ID',
                   }, inplace=True)
df

,Unnamed: 0,Unnamed: 1,ID,Unnamed: 3,Date,Total Assets,Net Income after Tax,Operating Expenses - Total,Other Operating Income,Other Operating Expense,...,Retained Earnings - Total,Property Plant & Equipment - Gross - Total,Property Plant & Equipment - Net - Total,Intangible Assets - Gross - Total,Market Capitalization,Total Fixed Assets - Net,Depreciation - Total,Income Taxes,industry,age
0,CHP.HM2008,CHP.HM39813,CHP.HM,CHP2008,2008-12-31,5.925336e+11,0.000000e+00,0.000000e+00,0.0,0.0,...,0.000000e+00,3.395503e+11,3.385061e+11,0.000000e+00,5.400000e+10,0.000000e+00,0.000000e+00,0.000000e+00,Utilities,4
1,CHP.HM2009,CHP.HM40178,CHP.HM,CHP2009,2009-12-31,1.080057e+12,0.000000e+00,0.000000e+00,0.0,0.0,...,0.000000e+00,6.933846e+11,6.916772e+11,1.664100e+09,5.400000e+10,3.408002e+11,0.000000e+00,0.000000e+00,Utilities,5
2,CHP.HM2010,CHP.HM40543,CHP.HM,CHP2010,2010-12-31,2.107225e+12,0.000000e+00,0.000000e+00,0.0,0.0,...,0.000000e+00,1.534256e+12,1.531874e+12,1.707854e+09,5.400000e+10,6.936876e+11,6.632520e+08,0.000000e+00,Utilities,6
3,CHP.HM2011,CHP.HM40908,CHP.HM,CHP2011,2011-12-31,3.168955e+12,0.000000e+00,0.000000e+00,0.0,0.0,...,0.000000e+00,2.785853e+12,2.782671e+12,1.171540e+08,2.066806e+11,1.533690e+12,6.746471e+08,0.000000e+00,Utilities,7
4,CHP.HM2012,CHP.HM41274,CHP.HM,CHP2012,2012-12-31,3.327121e+12,-6.956706e+09,1.443235e+11,0.0,816302413.0,...,-6.956706e+09,3.142447e+12,3.029046e+12,1.321540e+08,2.352193e+11,2.784348e+12,8.001951e+08,0.000000e+00,Utilities,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10532,IJC.HM2022,IJC.HM44926,IJC.HM,IJC2022,2022-12-31,6.523412e+12,5.110491e+11,1.262995e+12,0.0,0.0,...,9.584691e+11,1.464563e+12,9.245026e+11,0.000000e+00,7.417567e+12,1.292855e+12,4.043143e+10,1.617178e+11,Industrials,15
10533,IJC.HM2023,IJC.HM45291,IJC.HM,IJC2023,2023-12-31,6.403754e+12,3.948529e+11,9.444912e+11,0.0,0.0,...,4.668241e+11,1.515504e+12,9.266632e+11,2.850801e+10,2.867494e+12,1.355627e+12,4.482711e+10,1.294554e+11,Industrials,16
10534,SBG.HM2021,SBG.HM44561,SBG.HM,SBG2021,2021-12-31,1.612460e+12,1.501571e+10,5.850519e+12,0.0,0.0,...,1.887678e+10,2.042946e+11,2.029925e+11,0.000000e+00,5.400000e+10,0.000000e+00,0.000000e+00,0.000000e+00,Industrials,6
10535,SBG.HM2022,SBG.HM44926,SBG.HM,SBG2022,2022-12-31,2.105327e+12,3.761439e+10,3.959199e+12,0.0,0.0,...,5.628746e+10,2.613621e+11,2.519448e+11,0.000000e+00,5.400000e+10,0.000000e+00,0.000000e+00,0.000000e+00,Industrials,7
10536,SBG.HM2023,SBG.HM45291,SBG.HM,SBG2023,2023-12-31,1.197291e+12,3.254392e+10,3.606216e+12,0.0,0.0,...,8.856337e+10,2.641525e+11,2.425068e+11,0.000000e+00,5.400000e+10,2.063874e+11,8.536116e+08,3.744361e+09,Industrials,8

In [131]:
# calculate a new column Debt Ratio and replace the value of Debt Ratio with NaN for rows where Total Assets is zero or missing.
df['Debt Ratio'] = df['Total Liabilities'] / df['Total Assets']
df.loc[df['Total Assets'] <= 0, 'Debt Ratio' ] = pd.NA

df[['Total Assets','Debt Ratio']]

       Total Assets  Debt Ratio
0      5.925336e+11    0.065736
1      1.080057e+12    0.360810
2      2.107225e+12    0.526188
3      3.168955e+12    0.626650
4      3.327121e+12    0.641498
...             ...         ...
10532  6.523412e+12    0.414993
10533  6.403754e+12    0.402915
10534  1.612460e+12    0.876662
10535  2.105327e+12    0.810806
10536  1.197291e+12    0.640138

[9536 rows x 2 columns]

In [132]:
# explain why this adjustment is necessary in financial terms.
explain = """
The adjustment to set Debt Ratio as NaN when Total Assets is zero or missing is crucial because dividing by zero is undefined in mathematics and
provides no meaningful financial insight. In financial terms, Total Assets represent the base of the balance sheet,
and a division by zero would misrepresent the company's financial leverage.
"""
explain

"\nThe adjustment to set Debt Ratio as NaN when Total Assets is zero or missing is crucial because dividing by zero is undefined in mathematics and\nprovides no meaningful financial insight. In financial terms, Total Assets represent the base of the balance sheet,\nand a division by zero would misrepresent the company's financial leverage.\n"

### 7.	Derive a new column Earnings Quality:

In [133]:
# Compute it as the ratio of Net Income after Tax to Operating Expenses - Total.
df['Earning Quality'] = df['Net Income after Tax'] / df['Operating Expenses - Total']
df['Earning Quality']

0             NaN
1             NaN
2             NaN
3             NaN
4       -0.048202
           ...
10532    0.404633
10533    0.418059
10534    0.002567
10535    0.009501
10536    0.009024
Name: Earning Quality, Length: 9536, dtype: float64

In [134]:
# Classify firms into three categories based on this value.
Earnings_Quality_Category = []
for i in df['Earning Quality']:
    if pd.isna(i):
        Earnings_Quality_Category.append('Undefined')
    elif i >= 1:
        Earnings_Quality_Category.append('High Quality')
    elif 0.5 <= i < 1:
        Earnings_Quality_Category.append('Medium Quality')
    else:
        Earnings_Quality_Category.append('Lower Quality')

df['Earnings Quality Category'] = Earnings_Quality_Category
df[['Earning Quality', 'Earnings Quality Category']]

       Earning Quality Earnings Quality Category
0                  NaN                 Undefined
1                  NaN                 Undefined
2                  NaN                 Undefined
3                  NaN                 Undefined
4            -0.048202             Lower Quality
...                ...                       ...
10532         0.404633             Lower Quality
10533         0.418059             Lower Quality
10534         0.002567             Lower Quality
10535         0.009501             Lower Quality
10536         0.009024             Lower Quality

[9536 rows x 2 columns]

In [135]:
'''
Financial Implications:

Firms with Lower Quality earnings might struggle to attract investors or secure funding, as their reported profits could be seen as less reliable
'''

'\nFinancial Implications:\n\nFirms with Lower Quality earnings might struggle to attract investors or secure funding, as their reported profits could be seen as less reliable\n'

### 8.	Create a column Liquidity Index, calculated as

In [136]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9536 entries, 0 to 10536
Data columns (total 42 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Unnamed: 0                                                    9536 non-null   object
 1   Unnamed: 1                                                    9536 non-null   object
 2   ID                                                            9536 non-null   object
 3   Unnamed: 3                                                    9536 non-null   object
 4   Date                                                          9536 non-null   datetime64[ns]
 5   Total Assets                                                  9442 non-null   float64
 6   Net Income after Tax                                          9536 non-null   float64
 7   Operating Expenses - Total                                    9536 non-null   float64
 8   Other Operating Income                                        9536 non-null   float64
 9   Other Operating Expense                                       9536 non-null   float64
 10  Revenue from Business Activities - Total                      9536 non-null   float64
 11  Cost of Operating Revenue                                     9536 non-null   float64
 12  Revenue from Goods & Services                                 9536 non-null   float64
 13  Gross Revenue from Business Activities - Total                9536 non-null   float64
 14  Debt - Total                                                  9536 non-null   float64
 15  Total Liabilities                                             9444 non-null   float64
 16  Interest Income - Actual                                      9536 non-null   float64
 17  Interest Expense - Net of (Interest Income)                   9536 non-null   float64
 18  Inventory - Actual                                            9536 non-null   float64
 19  Cash & Cash Equivalents - Total                               9437 non-null   float64
 20  Working Capital                                               9050 non-null   float64
 21  Total Current Assets                                          9052 non-null   float64
 22  Short-Term Debt & Current Portion of Long-Term Debt           9536 non-null   float64
 23  Dividends Paid - Cash - Total - Cash Flow                     9536 non-null   float64
 24  Cost of Goods Sold / Sales, % (Pvt)                           9536 non-null   float64
 25  Cost of Operating Revenue.1                                   9536 non-null   float64
 26  Accounts Payable including Accrued Expenses - Long-Term       9536 non-null   float64
 27  Payables & Accrued Expenses                                   9536 non-null   float64
 28  Provision of Doubtful Trade Acct & Trade Notes Payable Total  21 non-null     float64
 29  Retained Earnings - Total                                     9536 non-null   float64
 30  Property Plant & Equipment - Gross - Total                    9536 non-null   float64
 31  Property Plant & Equipment - Net - Total                      9536 non-null   float64
 32  Intangible Assets - Gross - Total                             9536 non-null   float64
 33  Market Capitalization                                         9536 non-null   float64
 34  Total Fixed Assets - Net                                      9536 non-null   float64
 35  Depreciation - Total                                          9536 non-null   float64
 36  Income Taxes                                                  9536 non-null   float64
 37  industry                                                      9536 non-null   object
 38  age                                                           9536 non-null   int64
 39  Debt Ratio                                                    9442 non-null   float64
 40  Earning Quality                                               9468 non-null   float64
 41  Earnings Quality Category                                     9536 non-null   object
dtypes: datetime64[ns](1), float64(34), int64(1), object(6)
memory usage: 3.1+ MB

In [137]:
# calculated a column Liquidity Index
df['Liquidity Index'] = ( df['Cash & Cash Equivalents - Total'] + df['Working Capital'] ) / df['Total Current Assets']
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9536 entries, 0 to 10536
Data columns (total 43 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Unnamed: 0                                                    9536 non-null   object
 1   Unnamed: 1                                                    9536 non-null   object
 2   ID                                                            9536 non-null   object
 3   Unnamed: 3                                                    9536 non-null   object
 4   Date                                                          9536 non-null   datetime64[ns]
 5   Total Assets                                                  9442 non-null   float64
 6   Net Income after Tax                                          9536 non-null   float64
 7   Operating Expenses - Total                                    9536 non-null   float64
 8   Other Operating Income                                        9536 non-null   float64
 9   Other Operating Expense                                       9536 non-null   float64
 10  Revenue from Business Activities - Total                      9536 non-null   float64
 11  Cost of Operating Revenue                                     9536 non-null   float64
 12  Revenue from Goods & Services                                 9536 non-null   float64
 13  Gross Revenue from Business Activities - Total                9536 non-null   float64
 14  Debt - Total                                                  9536 non-null   float64
 15  Total Liabilities                                             9444 non-null   float64
 16  Interest Income - Actual                                      9536 non-null   float64
 17  Interest Expense - Net of (Interest Income)                   9536 non-null   float64
 18  Inventory - Actual                                            9536 non-null   float64
 19  Cash & Cash Equivalents - Total                               9437 non-null   float64
 20  Working Capital                                               9050 non-null   float64
 21  Total Current Assets                                          9052 non-null   float64
 22  Short-Term Debt & Current Portion of Long-Term Debt           9536 non-null   float64
 23  Dividends Paid - Cash - Total - Cash Flow                     9536 non-null   float64
 24  Cost of Goods Sold / Sales, % (Pvt)                           9536 non-null   float64
 25  Cost of Operating Revenue.1                                   9536 non-null   float64
 26  Accounts Payable including Accrued Expenses - Long-Term       9536 non-null   float64
 27  Payables & Accrued Expenses                                   9536 non-null   float64
 28  Provision of Doubtful Trade Acct & Trade Notes Payable Total  21 non-null     float64
 29  Retained Earnings - Total                                     9536 non-null   float64
 30  Property Plant & Equipment - Gross - Total                    9536 non-null   float64
 31  Property Plant & Equipment - Net - Total                      9536 non-null   float64
 32  Intangible Assets - Gross - Total                             9536 non-null   float64
 33  Market Capitalization                                         9536 non-null   float64
 34  Total Fixed Assets - Net                                      9536 non-null   float64
 35  Depreciation - Total                                          9536 non-null   float64
 36  Income Taxes                                                  9536 non-null   float64
 37  industry                                                      9536 non-null   object
 38  age                                                           9536 non-null   int64
 39  Debt Ratio                                                    9442 non-null   float64
 40  Earning Quality                                               9468 non-null   float64
 41  Earnings Quality Category                                     9536 non-null   object
 42  Liquidity Index                                               9043 non-null   float64
dtypes: datetime64[ns](1), float64(35), int64(1), object(6)
memory usage: 3.2+ MB

In [138]:
df['Liquidity Index']

0        1.395489
1        1.323226
2        1.651628
3        1.374065
4        0.014157
           ...
10532    0.595035
10533    0.456654
10534    0.102607
10535    0.164775
10536    0.294023
Name: Liquidity Index, Length: 9536, dtype: float64

In [139]:
# Remove rows with invalid or missing inputs for Liquidity Index calculation
df['Liquidity Index'].dropna()
df['Liquidity Flag'] = df['Liquidity Index'].apply(lambda x: 'Low Liquidity' if x < 0.1 else 'Normal')
df[['Liquidity Index', 'Liquidity Flag']]

       Liquidity Index Liquidity Flag
0             1.395489         Normal
1             1.323226         Normal
2             1.651628         Normal
3             1.374065         Normal
4             0.014157  Low Liquidity
...                ...            ...
10532         0.595035         Normal
10533         0.456654         Normal
10534         0.102607         Normal
10535         0.164775         Normal
10536         0.294023         Normal

[9536 rows x 2 columns]

In [140]:
'''
Financial Implications:

Investors may view firms with a Normal Liquidity Flag as safer investments, as these firms demonstrate the ability to handle short-term shocks.
Firms with a Low Liquidity Flag might pose higher risks but could offer greater returns if they recover.

Management Actions:

Firms with Low Liquidity must:
Reassess cash flow management.
Focus on reducing liabilities or increasing liquid assets.
Firms with a Normal flag should maintain their current strategies but monitor for any adverse trends.
Industry Trends:

If many firms in an industry have a Low Liquidity Flag, it could indicate systemic issues, such as sector-specific downturns or high dependency on external financing.
'''

'\nFinancial Implications:\n\nInvestors may view firms with a Normal Liquidity Flag as safer investments, as these firms demonstrate the ability to handle short-term shocks.\nFirms with a Low Liquidity Flag might pose higher risks but could offer greater returns if they recover.\n\nManagement Actions:\n\nFirms with Low Liquidity must:\nReassess cash flow management.\nFocus on reducing liabilities or increasing liquid assets.\nFirms with a Normal flag should maintain their current strategies but monitor for any adverse trends.\nIndustry Trends:\n\nIf many firms in an industry have a Low Liquidity Flag, it could indicate systemic issues, such as sector-specific downturns or high dependency on external financing.\n'

### 9.	Generate a new column Profit Growth that shows the year-over-year percentage change in Net Income after Tax for each firm. For the first year in the dataset for any firm, set the value to NaN.

In [141]:
# Sort Data by firms and date
df.sort_values(by=['ID','Date'], inplace=True)

In [142]:
# new column profit growth
df['Profit Growth'] = df.groupby('ID')['Net Income after Tax'].pct_change() * 100

df[['ID','Date','Profit Growth']]

          ID       Date  Profit Growth
503   AAA.HM 2008-12-31            NaN
504   AAA.HM 2009-12-31      64.910754
505   AAA.HM 2010-12-31     139.171553
506   AAA.HM 2011-12-31     -27.211355
507   AAA.HM 2012-12-31     -14.456590
...      ...        ...            ...
4116  YEG.HM 2019-12-31    -334.704000
4117  YEG.HM 2020-12-31     -52.979709
4118  YEG.HM 2021-12-31    -116.661341
4119  YEG.HM 2022-12-31     -17.003440
4120  YEG.HM 2023-12-31       6.540951

[9536 rows x 3 columns]

In [143]:
'''
A positive profit growth indicates an increase in profit compared to the previous year.
A negative profit growth indicates a decrease in profit.
NaN likely means that there is no data available or the growth rate cannot be calculated for the first year.

'''

'\nA positive profit growth indicates an increase in profit compared to the previous year.\nA negative profit growth indicates a decrease in profit.\nNaN likely means that there is no data available or the growth rate cannot be calculated for the first year.\n\n'

## Part 4: Data Aggregation (Expanded)

### 10.	Group the dataset by industry sector and:

In [144]:
# Calculate the top three industries by average Profit Margin.
df['Profit Margin'] = df['Net Income after Tax'] / df['Revenue from Business Activities - Total']
df['Profit Margin']

503     0.092113
504     0.098100
505     0.132813
506     0.072116
507     0.055620
          ...
4116   -0.263591
4117   -0.147707
4118    0.027781
4119    0.079239
4120    0.064419
Name: Profit Margin, Length: 9536, dtype: float64

In [145]:
# Group by industry and calculate average Profit Margin
industry_profit_margin = df.groupby('industry')['Profit Margin'].mean().sort_values(ascending=False)
# Get the top three industries by average Profit Margin
top_three_industries = industry_profit_margin.head(3)
top_three_industries

industry
Utilities          inf
Financials    0.166479
Materials     0.081718
Name: Profit Margin, dtype: float64

In [146]:
# Identify the firm with the highest Market Capitalization for each industry
top_firms = df.loc[df.groupby('industry')['Market Capitalization'].idxmax()]
# Filter top firms to include only those in the top three industries
top_firms_in_top_industries = top_firms[top_firms['industry'].isin(top_three_industries.index)]
top_firms_in_top_industries[['industry','ID','Market Capitalization','Date']]

        industry      ID  Market Capitalization       Date
3421  Financials  VPB.HM           7.895125e+14 2021-12-31
6684   Materials  HPG.HM           3.450916e+14 2022-12-31
1960   Utilities  GAS.HM           3.133527e+14 2023-12-31

In [147]:
'''
In the Financials industry, the company with the highest market capitalization is VPB.HM
In the Materials industry, the company with the highest market capitalization is HPG.HM
In the Utilities industry, the company with the highest market capitalization is GAS.HM
'''

'\nIn the Financials industry, the company with the highest market capitalization is VPB.HM\nIn the Materials industry, the company with the highest market capitalization is HPG.HM\nIn the Utilities industry, the company with the highest market capitalization is GAS.HM\n'

### 11.	For firms with Net Income after Tax greater than the median value:

In [148]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9536 entries, 503 to 4120
Data columns (total 46 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Unnamed: 0                                                    9536 non-null   object
 1   Unnamed: 1                                                    9536 non-null   object
 2   ID                                                            9536 non-null   object
 3   Unnamed: 3                                                    9536 non-null   object
 4   Date                                                          9536 non-null   datetime64[ns]
 5   Total Assets                                                  9442 non-null   float64
 6   Net Income after Tax                                          9536 non-null   float64
 7   Operating Expenses - Total                                    9536 non-null   float64
 8   Other Operating Income                                        9536 non-null   float64
 9   Other Operating Expense                                       9536 non-null   float64
 10  Revenue from Business Activities - Total                      9536 non-null   float64
 11  Cost of Operating Revenue                                     9536 non-null   float64
 12  Revenue from Goods & Services                                 9536 non-null   float64
 13  Gross Revenue from Business Activities - Total                9536 non-null   float64
 14  Debt - Total                                                  9536 non-null   float64
 15  Total Liabilities                                             9444 non-null   float64
 16  Interest Income - Actual                                      9536 non-null   float64
 17  Interest Expense - Net of (Interest Income)                   9536 non-null   float64
 18  Inventory - Actual                                            9536 non-null   float64
 19  Cash & Cash Equivalents - Total                               9437 non-null   float64
 20  Working Capital                                               9050 non-null   float64
 21  Total Current Assets                                          9052 non-null   float64
 22  Short-Term Debt & Current Portion of Long-Term Debt           9536 non-null   float64
 23  Dividends Paid - Cash - Total - Cash Flow                     9536 non-null   float64
 24  Cost of Goods Sold / Sales, % (Pvt)                           9536 non-null   float64
 25  Cost of Operating Revenue.1                                   9536 non-null   float64
 26  Accounts Payable including Accrued Expenses - Long-Term       9536 non-null   float64
 27  Payables & Accrued Expenses                                   9536 non-null   float64
 28  Provision of Doubtful Trade Acct & Trade Notes Payable Total  21 non-null     float64
 29  Retained Earnings - Total                                     9536 non-null   float64
 30  Property Plant & Equipment - Gross - Total                    9536 non-null   float64
 31  Property Plant & Equipment - Net - Total                      9536 non-null   float64
 32  Intangible Assets - Gross - Total                             9536 non-null   float64
 33  Market Capitalization                                         9536 non-null   float64
 34  Total Fixed Assets - Net                                      9536 non-null   float64
 35  Depreciation - Total                                          9536 non-null   float64
 36  Income Taxes                                                  9536 non-null   float64
 37  industry                                                      9536 non-null   object
 38  age                                                           9536 non-null   int64
 39  Debt Ratio                                                    9442 non-null   float64
 40  Earning Quality                                               9468 non-null   float64
 41  Earnings Quality Category                                     9536 non-null   object
 42  Liquidity Index                                               9043 non-null   float64
 43  Liquidity Flag                                                9536 non-null   object
 44  Profit Growth                                                 8823 non-null   float64
 45  Profit Margin                                                 9468 non-null   float64
dtypes: datetime64[ns](1), float64(37), int64(1), object(7)
memory usage: 3.7+ MB

In [149]:
# Calculate the median of Net Income after Tax
median_net_income = df['Net Income after Tax'].median()
# Filter firms with Net Income after Tax greater than the median
filtered_firms = df[df['Net Income after Tax'] > median_net_income]

# Calculate Debt Ratio
filtered_firms['Debt Ratio'] = filtered_firms['Debt - Total'] / filtered_firms['Total Assets']
filtered_firms[['Net Income after Tax', 'Debt Ratio']]

      Net Income after Tax  Debt Ratio
504           3.772275e+10    0.620894
505           9.022209e+10    0.395558
506           6.567144e+10    0.472654
507           5.617759e+10    0.272942
508           5.547154e+10    0.362759
...                    ...         ...
4185          2.987944e+10    0.054432
4070          2.958398e+10    0.420984
4114          8.227913e+10    0.148287
4115          1.631038e+11    0.063491
4118          2.999023e+10    0.147051

[4768 rows x 2 columns]

In [150]:
# Calculate the average Total Assets and Debt Ratio for these firms
average_total_assets = filtered_firms['Total Assets'].mean()
average_debt_ratio = filtered_firms['Debt Ratio'].mean()

average_total_assets,average_debt_ratio

(np.float64(25296074861800.914), np.float64(0.2189793385323993))

In [151]:
#Define "High Debt Risk" based on a threshold Debt Ratio > 1 is considered High Debt Risk
filtered_firms['High Debt Risk'] = filtered_firms['Debt Ratio'] > 0.5
filtered_firms['High Debt Risk'].value_counts()

High Debt Risk
False    4344
True      424
Name: count, dtype: int64

In [152]:
'''
Explain:
There are exactly 424 businesses with high risk debt ratios
'''

'\nExplain:\nThere are exactly 424 businesses with high risk debt ratios\n'

In [153]:
# Calculate the percentage of firms with High Debt Risk
high_debt_risk_firms = filtered_firms['High Debt Risk'].sum()

# Calculate percentage
percentage_high_debt_risk = (high_debt_risk_firms / len(filtered_firms)) * 100

percentage_high_debt_risk

np.float64(8.89261744966443)

In [154]:
'''
8.89261744966443 percentage firms high debt risk
'''

'\n8.89261744966443 percentage firms high debt risk\n'

### 12.	Create a pivot table summarizing the total Revenue from Goods & Services, average Net Income after Tax, and standard deviation of Operating Expenses - Total, grouped by age and year.

In [155]:
# Create a pivot table summarizing the required metrics grouped by age and year
pivot_table = df.pivot_table(
    values={
        'Revenue from Goods & Services': 'sum',
        'Net Income after Tax': 'mean',
        'Operating Expenses - Total': 'std'
    },
    index=['age', 'Date'],
    aggfunc={
        'Revenue from Goods & Services': 'sum',
        'Net Income after Tax': 'mean',
        'Operating Expenses - Total': 'std' }
)
pivot_table.reset_index()

,age,Date,Net Income after Tax,Operating Expenses - Total,Revenue from Goods & Services
0,-1,2008-12-31,9.197199e+11,4.335558e+12,2.786056e+12
1,0,2008-12-13,1.202945e+10,NaN,2.818885e+11
2,0,2008-12-31,1.077933e+12,1.329295e+12,2.205063e+12
3,0,2009-12-31,6.637125e+11,2.680158e+12,3.365559e+12
4,0,2010-12-31,0.000000e+00,NaN,0.000000e+00
...,...,...,...,...,...
798,2019,2019-12-31,9.295286e+09,NaN,4.780840e+11
799,2020,2020-12-31,1.038427e+10,NaN,4.325450e+11
800,2021,2021-12-31,1.358864e+10,NaN,5.562754e+11
801,2022,2022-12-31,2.561390e+10,NaN,6.983015e+11
802,2023,2023-12-31,2.814115e+10,NaN,7.265501e+11

### 13.	For each firm:
	•	Calculate the 3-year moving average of Revenue from Business Activities - Total.
	•	Identify any firms with a declining trend in this metric over the last three available years

In [156]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9536 entries, 503 to 4120
Data columns (total 46 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Unnamed: 0                                                    9536 non-null   object
 1   Unnamed: 1                                                    9536 non-null   object
 2   ID                                                            9536 non-null   object
 3   Unnamed: 3                                                    9536 non-null   object
 4   Date                                                          9536 non-null   datetime64[ns]
 5   Total Assets                                                  9442 non-null   float64
 6   Net Income after Tax                                          9536 non-null   float64
 7   Operating Expenses - Total                                    9536 non-null   float64
 8   Other Operating Income                                        9536 non-null   float64
 9   Other Operating Expense                                       9536 non-null   float64
 10  Revenue from Business Activities - Total                      9536 non-null   float64
 11  Cost of Operating Revenue                                     9536 non-null   float64
 12  Revenue from Goods & Services                                 9536 non-null   float64
 13  Gross Revenue from Business Activities - Total                9536 non-null   float64
 14  Debt - Total                                                  9536 non-null   float64
 15  Total Liabilities                                             9444 non-null   float64
 16  Interest Income - Actual                                      9536 non-null   float64
 17  Interest Expense - Net of (Interest Income)                   9536 non-null   float64
 18  Inventory - Actual                                            9536 non-null   float64
 19  Cash & Cash Equivalents - Total                               9437 non-null   float64
 20  Working Capital                                               9050 non-null   float64
 21  Total Current Assets                                          9052 non-null   float64
 22  Short-Term Debt & Current Portion of Long-Term Debt           9536 non-null   float64
 23  Dividends Paid - Cash - Total - Cash Flow                     9536 non-null   float64
 24  Cost of Goods Sold / Sales, % (Pvt)                           9536 non-null   float64
 25  Cost of Operating Revenue.1                                   9536 non-null   float64
 26  Accounts Payable including Accrued Expenses - Long-Term       9536 non-null   float64
 27  Payables & Accrued Expenses                                   9536 non-null   float64
 28  Provision of Doubtful Trade Acct & Trade Notes Payable Total  21 non-null     float64
 29  Retained Earnings - Total                                     9536 non-null   float64
 30  Property Plant & Equipment - Gross - Total                    9536 non-null   float64
 31  Property Plant & Equipment - Net - Total                      9536 non-null   float64
 32  Intangible Assets - Gross - Total                             9536 non-null   float64
 33  Market Capitalization                                         9536 non-null   float64
 34  Total Fixed Assets - Net                                      9536 non-null   float64
 35  Depreciation - Total                                          9536 non-null   float64
 36  Income Taxes                                                  9536 non-null   float64
 37  industry                                                      9536 non-null   object
 38  age                                                           9536 non-null   int64
 39  Debt Ratio                                                    9442 non-null   float64
 40  Earning Quality                                               9468 non-null   float64
 41  Earnings Quality Category                                     9536 non-null   object
 42  Liquidity Index                                               9043 non-null   float64
 43  Liquidity Flag                                                9536 non-null   object
 44  Profit Growth                                                 8823 non-null   float64
 45  Profit Margin                                                 9468 non-null   float64
dtypes: datetime64[ns](1), float64(37), int64(1), object(7)
memory usage: 3.7+ MB

In [157]:
# Sort by firms and Date
df.sort_values(by=['ID', 'Date'], inplace=True)
# Group by firm and calculate the 3-year moving average
df['3-Year Moving Avg'] = df.groupby('ID')['Revenue from Business Activities - Total'].transform(lambda x: x.rolling(window=3).mean())
df['3-Year Moving Avg']

503              NaN
504              NaN
505     4.373939e+11
506     6.581608e+11
507     8.666607e+11
            ...
4116    1.323074e+12
4117    1.449164e+12
4118    1.250140e+12
4119    8.707503e+11
4120    6.017663e+11
Name: 3-Year Moving Avg, Length: 9536, dtype: float64

In [158]:
# Identify any firms with a declining trend over the last three years
def check_declining_trend(group):
    last_3_values = group['3-Year Moving Avg'].dropna().tail(3).values
    return all(x > y for x, y in zip(last_3_values, last_3_values[1:]))
# print True if all values in the pair must be decreasing
result = check_declining_trend(df)
print(result)

True

In [159]:
declining_trend_firms = df.groupby('ID').apply(check_declining_trend)
declining_trend_firms = declining_trend_firms[declining_trend_firms].index

declining_trend_firms

Index(['AAV.HN', 'ASM.HM', 'BAF.HM', 'BBS.HN', 'BCE.HM', 'BKG.HM', 'BMC.HM',
       'BPC.HN', 'BSC.HN', 'BTS.HN',
       ...
       'VMD.HM', 'VMS.HN', 'VPH.HM', 'VPI.HM', 'VRC.HM', 'VTB.HM', 'VTC.HN',
       'VTO.HM', 'WSS.HN', 'YEG.HM'],
      dtype='object', name='ID', length=152)

In [160]:
'''
list of companies with a declining trend over the past 3 years
'''

'\nlist of companies with a declining trend over the past 3 years\n'

## Part 5: Business Insights (Expanded)

### 14.	Identify the top 10 firms with the highest Profit Margin. For these firms:
	•	Determine their average Cost of Goods Sold / Sales, %.
	•	Find the year with the lowest Debt Ratio and the corresponding value.

In [161]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9536 entries, 503 to 4120
Data columns (total 47 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Unnamed: 0                                                    9536 non-null   object
 1   Unnamed: 1                                                    9536 non-null   object
 2   ID                                                            9536 non-null   object
 3   Unnamed: 3                                                    9536 non-null   object
 4   Date                                                          9536 non-null   datetime64[ns]
 5   Total Assets                                                  9442 non-null   float64
 6   Net Income after Tax                                          9536 non-null   float64
 7   Operating Expenses - Total                                    9536 non-null   float64
 8   Other Operating Income                                        9536 non-null   float64
 9   Other Operating Expense                                       9536 non-null   float64
 10  Revenue from Business Activities - Total                      9536 non-null   float64
 11  Cost of Operating Revenue                                     9536 non-null   float64
 12  Revenue from Goods & Services                                 9536 non-null   float64
 13  Gross Revenue from Business Activities - Total                9536 non-null   float64
 14  Debt - Total                                                  9536 non-null   float64
 15  Total Liabilities                                             9444 non-null   float64
 16  Interest Income - Actual                                      9536 non-null   float64
 17  Interest Expense - Net of (Interest Income)                   9536 non-null   float64
 18  Inventory - Actual                                            9536 non-null   float64
 19  Cash & Cash Equivalents - Total                               9437 non-null   float64
 20  Working Capital                                               9050 non-null   float64
 21  Total Current Assets                                          9052 non-null   float64
 22  Short-Term Debt & Current Portion of Long-Term Debt           9536 non-null   float64
 23  Dividends Paid - Cash - Total - Cash Flow                     9536 non-null   float64
 24  Cost of Goods Sold / Sales, % (Pvt)                           9536 non-null   float64
 25  Cost of Operating Revenue.1                                   9536 non-null   float64
 26  Accounts Payable including Accrued Expenses - Long-Term       9536 non-null   float64
 27  Payables & Accrued Expenses                                   9536 non-null   float64
 28  Provision of Doubtful Trade Acct & Trade Notes Payable Total  21 non-null     float64
 29  Retained Earnings - Total                                     9536 non-null   float64
 30  Property Plant & Equipment - Gross - Total                    9536 non-null   float64
 31  Property Plant & Equipment - Net - Total                      9536 non-null   float64
 32  Intangible Assets - Gross - Total                             9536 non-null   float64
 33  Market Capitalization                                         9536 non-null   float64
 34  Total Fixed Assets - Net                                      9536 non-null   float64
 35  Depreciation - Total                                          9536 non-null   float64
 36  Income Taxes                                                  9536 non-null   float64
 37  industry                                                      9536 non-null   object
 38  age                                                           9536 non-null   int64
 39  Debt Ratio                                                    9442 non-null   float64
 40  Earning Quality                                               9468 non-null   float64
 41  Earnings Quality Category                                     9536 non-null   object
 42  Liquidity Index                                               9043 non-null   float64
 43  Liquidity Flag                                                9536 non-null   object
 44  Profit Growth                                                 8823 non-null   float64
 45  Profit Margin                                                 9468 non-null   float64
 46  3-Year Moving Avg                                             8132 non-null   float64
dtypes: datetime64[ns](1), float64(38), int64(1), object(7)
memory usage: 3.7+ MB

In [162]:
# Filter out firms with insufficient data for ranking.
valid_profit_margin = df['Profit Margin'].dropna()

In [163]:
# identify the top 10 firms with the highest Profit Margin
top_10_firms =  df.groupby('ID')['Profit Margin'].mean().sort_values(ascending=False).head(10)
top_10_firms.reset_index()

       ID  Profit Margin
0  VTJ.HN            inf
1  VHM.HM            inf
2  CLL.HM            inf
3  SHP.HM            inf
4  DXG.HM            inf
5  NT2.HM            inf
6  KPF.HM       3.949289
7  KSQ.HN       2.334864
8  EVS.HN       1.807572
9  APG.HM       1.563177

In [164]:
# Calculate average COGS/Sales (%) for the top 10 firms
avg_cogs_sales = (
    df.groupby('ID')['Cost of Goods Sold / Sales, % (Pvt)'].mean().reset_index()\
    .rename(columns={"Cost of Goods Sold / Sales, % (Pvt)": "Avg COGS/Sales (%)"})
)
avg_cogs_sales

         ID  Avg COGS/Sales (%)
0    AAA.HM           85.440146
1    AAM.HM           89.360911
2    AAT.HM           86.581283
3    AAV.HN           90.392766
4    ABR.HM           67.279677
..      ...                 ...
697  WCS.HN           48.574736
698  WSS.HN           26.897494
699  X20.HN           85.016588
700  YBM.HM           59.255322
701  YEG.HM           77.911734

[702 rows x 2 columns]

In [165]:
# Find the year with the lowest Debt Ratio and the corresponding value
lowest_debt_ratio = (
    df.loc[df.groupby("ID")["Debt Ratio"].idxmin()]
    [["ID", "Date", "Debt Ratio"]]
    .rename(columns={"Date": "Year with Lowest Debt Ratio"})
)
lowest_debt_ratio

          ID Year with Lowest Debt Ratio  Debt Ratio
507   AAA.HM                  2012-12-31    0.415218
8885  AAM.HM                  2021-12-31    0.033622
3711  AAT.HM                  2020-12-31    0.267184
4130  AAV.HN                  2023-12-31    0.150531
3574  ABR.HM                  2016-12-31    0.063539
...      ...                         ...         ...
732   WCS.HN                  2021-12-31    0.103507
9866  WSS.HN                  2023-12-31    0.007165
4185  X20.HN                  2020-12-31    0.531984
4070  YBM.HM                  2017-12-31    0.507880
4115  YEG.HM                  2018-12-31    0.205945

[702 rows x 3 columns]

In [166]:
top_10_summary = avg_cogs_sales.merge(lowest_debt_ratio, on="ID")
top_10_summary

         ID  Avg COGS/Sales (%) Year with Lowest Debt Ratio  Debt Ratio
0    AAA.HM           85.440146                  2012-12-31    0.415218
1    AAM.HM           89.360911                  2021-12-31    0.033622
2    AAT.HM           86.581283                  2020-12-31    0.267184
3    AAV.HN           90.392766                  2023-12-31    0.150531
4    ABR.HM           67.279677                  2016-12-31    0.063539
..      ...                 ...                         ...         ...
697  WCS.HN           48.574736                  2021-12-31    0.103507
698  WSS.HN           26.897494                  2023-12-31    0.007165
699  X20.HN           85.016588                  2020-12-31    0.531984
700  YBM.HM           59.255322                  2017-12-31    0.507880
701  YEG.HM           77.911734                  2018-12-31    0.205945

[702 rows x 4 columns]

### 15.	Compare firms across age (industries) in terms of Market Capitalization. For each industry:
	•	Identify the firm with the most volatile Market Capitalization (measured as the standard deviation over years).
	•	Calculate the percentage change in average Market Capitalization from the earliest to the latest year.

In [167]:
# Check for missing values in key columns ('Market Capitalization' and 'industry')
missing_summary = df[['Market Capitalization', 'industry']].isnull().sum()
missing_summary

Market Capitalization    0
industry                 0
dtype: int64

In [168]:
# Drop rows with missing values in 'Market Capitalization' or 'industry'
drop_market_or_industry= df.dropna(subset=['Market Capitalization', 'industry'])
drop_market_or_industry['Market Capitalization'].head()

503    5.400000e+10
504    5.400000e+10
505    5.400000e+10
506    2.748709e+11
507    9.835329e+10
Name: Market Capitalization, dtype: float64

In [169]:
drop_market_or_industry['Market Capitalization'].isna().sum()

np.int64(0)

In [170]:
drop_market_or_industry['Market Capitalization'].dtype

dtype('float64')

In [171]:
drop_market_or_industry['Market Capitalization'] = pd.to_numeric(drop_market_or_industry['Market Capitalization'], errors='coerce')

In [172]:
missing_values = drop_market_or_industry.groupby(['industry', 'ID'])['Market Capitalization'].apply(lambda x: x.isna().sum())
print(missing_values[missing_values > 0])

Series([], Name: Market Capitalization, dtype: int64)

In [173]:
# Group the data by industry and firm to calculate volatility
volatility = (
    drop_market_or_industry.groupby(['industry', 'ID'])['Market Capitalization']
    .std()
    .reset_index()\
    .rename(columns={'Market Capitalization': 'Volatility'})
)
volatility['Volatility'].fillna(0, inplace=True)
volatility

                   industry      ID    Volatility
0    Communication Services  ADC.HN  2.253460e+10
1    Communication Services  ADG.HM  4.822186e+11
2    Communication Services  BED.HN  3.613408e+10
3    Communication Services  BST.HN  1.484216e+10
4    Communication Services  DAD.HN  2.434434e+10
..                      ...     ...           ...
697               Utilities  TTA.HM  1.194206e+12
698               Utilities  TTE.HM  1.902692e+11
699               Utilities  UIC.HM  1.589319e+11
700               Utilities  VPD.HM  7.184601e+11
701               Utilities  VSH.HM  1.658985e+12

[702 rows x 3 columns]

In [174]:
# Identify the firm with the highest volatility in each industry, even if zero
most_volatile_firms_all = volatility.loc[
    volatility.groupby('industry')['Volatility'].idxmax()]

In [175]:
most_volatile_firms_all.sort_values(by='industry')

                   industry      ID    Volatility
15   Communication Services  YEG.HM  1.205213e+13
42   Consumer Discretionary  MWG.HM  1.813162e+14
129        Consumer Staples  VNM.HM  8.665593e+13
145                  Energy  PLX.HM  2.854869e+13
221              Financials  VPB.HM  3.103679e+14
228             Health Care  DHT.HN  9.142459e+12
407             Industrials  THD.HN  4.656956e+13
473  Information Technology  FPT.HM  8.322156e+13
533               Materials  HPG.HM  9.403654e+13
659             Real Estate  VHM.HM  1.962481e+14
673               Utilities  GAS.HM  1.159960e+14

In [176]:
df['year'] = df['Date'].dt.year

# Reattempt the average market capitalization calculation
avg_market_cap = (
    df.groupby(['industry', 'year'])['Market Capitalization']
    .mean()
    .reset_index()
    .rename(columns={'Market Capitalization': 'Avg_Market_Cap'})
)
avg_market_cap

                   industry  year  Avg_Market_Cap
0    Communication Services  2008    6.875960e+10
1    Communication Services  2009    1.561740e+11
2    Communication Services  2010    1.811000e+11
3    Communication Services  2011    9.871595e+10
4    Communication Services  2012    6.285754e+10
..                      ...   ...             ...
171               Utilities  2019    6.727838e+12
172               Utilities  2020    9.463815e+12
173               Utilities  2021    9.904635e+12
174               Utilities  2022    1.213417e+13
175               Utilities  2023    1.151030e+13

[176 rows x 3 columns]

In [177]:
# Calculate the percentage change from the earliest to the latest year for each industry
avg_market_cap_summary = avg_market_cap.groupby('industry').agg(
    earliest_year=('year', 'min'),
    latest_year=('year', 'max'),
    earliest_avg_cap=('Avg_Market_Cap', 'first'),
    latest_avg_cap=('Avg_Market_Cap', 'last'),
)

In [178]:
avg_market_cap_summary['Percentage_Change'] = (
    (avg_market_cap_summary['latest_avg_cap'] - avg_market_cap_summary['earliest_avg_cap'])
    / avg_market_cap_summary['earliest_avg_cap']
    * 100
)

In [179]:
avg_market_cap_summary.reset_index().sort_values(by='industry')

,industry,earliest_year,latest_year,earliest_avg_cap,latest_avg_cap,Percentage_Change
0,Communication Services,2008,2023,6.875960e+10,3.444172e+11,400.900577
1,Consumer Discretionary,2008,2023,2.877450e+11,2.628929e+12,813.631767
2,Consumer Staples,2008,2023,1.160085e+12,9.235760e+12,696.127708
3,Energy,2008,2023,2.697592e+12,2.522253e+12,-6.499859
4,Financials,2008,2023,5.276547e+12,4.019452e+13,661.757961
5,Health Care,2008,2023,7.290819e+11,2.778264e+12,281.063327
6,Industrials,2008,2023,4.870499e+11,2.109326e+12,333.082185
7,Information Technology,2008,2023,3.090700e+12,1.400683e+13,353.192744
8,Materials,2008,2023,1.009530e+12,2.779883e+12,175.364042
9,Real Estate,2008,2023,1.883665e+12,1.266843e+13,572.541296
10,Utilities,2008,2023,1.474757e+12,1.151030e+13,680.487988

### The percentage change in average market capitalization by industry has been successfully calculated. Here's a summary of the results:

Communication Services: 833.47% increase.
Consumer Discretionary: 475.86% increase.

Consumer Staples: 5841.97% increase.

Energy: 2562.17% increase.

Financials: 574.80% increase.

Health Care: 197.34% increase.

Industrials: 1584.25% increase.

Information Technology: 13745.40% increase (highest growth).

Materials: 6042.14% increase.

Real Estate: -48.32% decrease (only industry with a decline).

Utilities: 574.19% increase.

### 16.	For firms with a Liquidity Index above 0.5:
	•	Calculate their average Gross Revenue from Business Activities - Total.
	•	Identify the firm with the largest gap between Cash & Cash Equivalents - Total and Short-Term Debt & Current Portion of Long-Term Debt.

In [180]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9536 entries, 503 to 4120
Data columns (total 48 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Unnamed: 0                                                    9536 non-null   object
 1   Unnamed: 1                                                    9536 non-null   object
 2   ID                                                            9536 non-null   object
 3   Unnamed: 3                                                    9536 non-null   object
 4   Date                                                          9536 non-null   datetime64[ns]
 5   Total Assets                                                  9442 non-null   float64
 6   Net Income after Tax                                          9536 non-null   float64
 7   Operating Expenses - Total                                    9536 non-null   float64
 8   Other Operating Income                                        9536 non-null   float64
 9   Other Operating Expense                                       9536 non-null   float64
 10  Revenue from Business Activities - Total                      9536 non-null   float64
 11  Cost of Operating Revenue                                     9536 non-null   float64
 12  Revenue from Goods & Services                                 9536 non-null   float64
 13  Gross Revenue from Business Activities - Total                9536 non-null   float64
 14  Debt - Total                                                  9536 non-null   float64
 15  Total Liabilities                                             9444 non-null   float64
 16  Interest Income - Actual                                      9536 non-null   float64
 17  Interest Expense - Net of (Interest Income)                   9536 non-null   float64
 18  Inventory - Actual                                            9536 non-null   float64
 19  Cash & Cash Equivalents - Total                               9437 non-null   float64
 20  Working Capital                                               9050 non-null   float64
 21  Total Current Assets                                          9052 non-null   float64
 22  Short-Term Debt & Current Portion of Long-Term Debt           9536 non-null   float64
 23  Dividends Paid - Cash - Total - Cash Flow                     9536 non-null   float64
 24  Cost of Goods Sold / Sales, % (Pvt)                           9536 non-null   float64
 25  Cost of Operating Revenue.1                                   9536 non-null   float64
 26  Accounts Payable including Accrued Expenses - Long-Term       9536 non-null   float64
 27  Payables & Accrued Expenses                                   9536 non-null   float64
 28  Provision of Doubtful Trade Acct & Trade Notes Payable Total  21 non-null     float64
 29  Retained Earnings - Total                                     9536 non-null   float64
 30  Property Plant & Equipment - Gross - Total                    9536 non-null   float64
 31  Property Plant & Equipment - Net - Total                      9536 non-null   float64
 32  Intangible Assets - Gross - Total                             9536 non-null   float64
 33  Market Capitalization                                         9536 non-null   float64
 34  Total Fixed Assets - Net                                      9536 non-null   float64
 35  Depreciation - Total                                          9536 non-null   float64
 36  Income Taxes                                                  9536 non-null   float64
 37  industry                                                      9536 non-null   object
 38  age                                                           9536 non-null   int64
 39  Debt Ratio                                                    9442 non-null   float64
 40  Earning Quality                                               9468 non-null   float64
 41  Earnings Quality Category                                     9536 non-null   object
 42  Liquidity Index                                               9043 non-null   float64
 43  Liquidity Flag                                                9536 non-null   object
 44  Profit Growth                                                 8823 non-null   float64
 45  Profit Margin                                                 9468 non-null   float64
 46  3-Year Moving Avg                                             8132 non-null   float64
 47  year                                                          9536 non-null   int32
dtypes: datetime64[ns](1), float64(38), int32(1), int64(1), object(7)
memory usage: 3.8+ MB

In [181]:
# Filter firms with a Liquidity Index above 0.5
high_liquidity_firms = df[df["Liquidity Index"] > 0.5]
high_liquidity_firms.head()

,Unnamed: 0,Unnamed: 1,ID,Unnamed: 3,Date,Total Assets,Net Income after Tax,Operating Expenses - Total,Other Operating Income,Other Operating Expense,...,age,Debt Ratio,Earning Quality,Earnings Quality Category,Liquidity Index,Liquidity Flag,Profit Growth,Profit Margin,3-Year Moving Avg,year
509,AAA.HM2014,AAA.HM42004,AAA.HM,AAA2014,2014-12-31,1.421651e+12,4.778088e+10,1.492814e+12,0.0,0.0,...,12,0.446892,0.032007,Lower Quality,0.753930,Normal,-13.864165,0.030616,1.242728e+12,2014
510,AAA.HM2015,AAA.HM42369,AAA.HM,AAA2015,2015-12-31,1.954765e+12,4.054881e+10,1.541580e+12,0.0,0.0,...,13,0.580775,0.026303,Lower Quality,0.816140,Normal,-15.135892,0.025115,1.444233e+12,2015
516,AAA.HM2021,AAA.HM44561,AAA.HM,AAA2021,2021-12-31,1.000953e+13,3.241430e+11,1.277502e+13,0.0,0.0,...,19,0.455081,0.025373,Lower Quality,0.758308,Normal,14.468272,0.024663,9.943247e+12,2021
517,AAA.HM2022,AAA.HM44926,AAA.HM,AAA2022,2022-12-31,1.079583e+13,1.172913e+11,1.511776e+13,0.0,0.0,...,20,0.428373,0.007759,Lower Quality,0.723702,Normal,-63.814965,0.007671,1.195399e+13,2022
518,AAA.HM2023,AAA.HM45291,AAA.HM,AAA2023,2023-12-31,1.158345e+13,3.091938e+11,1.230916e+13,0.0,0.0,...,21,0.485138,0.025119,Lower Quality,0.770841,Normal,163.611971,0.024497,1.368497e+13,2023

In [182]:
# Calculate their average Gross Revenue from Business Activities - Total
average_gross_revenue = high_liquidity_firms[
    "Gross Revenue from Business Activities - Total"
].mean()
average_gross_revenue

np.float64(1536676948649.28)

In [183]:
# Calculate the gap between Cash & Cash Equivalents and Short-Term Debt
high_liquidity_firms["Debt_Cash_Gap"] = (
    high_liquidity_firms["Cash & Cash Equivalents - Total"]
    - high_liquidity_firms["Short-Term Debt & Current Portion of Long-Term Debt"]
)
high_liquidity_firms.head()

,Unnamed: 0,Unnamed: 1,ID,Unnamed: 3,Date,Total Assets,Net Income after Tax,Operating Expenses - Total,Other Operating Income,Other Operating Expense,...,Debt Ratio,Earning Quality,Earnings Quality Category,Liquidity Index,Liquidity Flag,Profit Growth,Profit Margin,3-Year Moving Avg,year,Debt_Cash_Gap
509,AAA.HM2014,AAA.HM42004,AAA.HM,AAA2014,2014-12-31,1.421651e+12,4.778088e+10,1.492814e+12,0.0,0.0,...,0.446892,0.032007,Lower Quality,0.753930,Normal,-13.864165,0.030616,1.242728e+12,2014,7.785524e+09
510,AAA.HM2015,AAA.HM42369,AAA.HM,AAA2015,2015-12-31,1.954765e+12,4.054881e+10,1.541580e+12,0.0,0.0,...,0.580775,0.026303,Lower Quality,0.816140,Normal,-15.135892,0.025115,1.444233e+12,2015,3.129182e+10
516,AAA.HM2021,AAA.HM44561,AAA.HM,AAA2021,2021-12-31,1.000953e+13,3.241430e+11,1.277502e+13,0.0,0.0,...,0.455081,0.025373,Lower Quality,0.758308,Normal,14.468272,0.024663,9.943247e+12,2021,-1.950104e+11
517,AAA.HM2022,AAA.HM44926,AAA.HM,AAA2022,2022-12-31,1.079583e+13,1.172913e+11,1.511776e+13,0.0,0.0,...,0.428373,0.007759,Lower Quality,0.723702,Normal,-63.814965,0.007671,1.195399e+13,2022,-2.448434e+11
518,AAA.HM2023,AAA.HM45291,AAA.HM,AAA2023,2023-12-31,1.158345e+13,3.091938e+11,1.230916e+13,0.0,0.0,...,0.485138,0.025119,Lower Quality,0.770841,Normal,163.611971,0.024497,1.368497e+13,2023,-1.904351e+11

In [184]:
# Identify the firm with the largest gap
largest_gap_firm = high_liquidity_firms.loc[
    high_liquidity_firms["Debt_Cash_Gap"].idxmax(), ["Unnamed: 1", "Debt_Cash_Gap"]
]
largest_gap_firm

Unnamed: 1            GAS.HM42004
Debt_Cash_Gap    21636777706414.0
Name: 1951, dtype: object

## Part 6: Advanced Analysis and Challenges (Expanded

### 17.	Standardize the following columns using the z-score method: Net Income after Tax, Total Assets, and Market Capitalization. Store the results in new columns. Then:
	•	Identify firms where at least two of these standardized metrics exceed 2.5 (outliers).
	•	For these firms, calculate the average Depreciation - Total.

In [185]:
# Verify the presence of required columns in the dataset
columns_required = [
    "Net Income after Tax",
    "Total Assets",
    "Market Capitalization",
    "Depreciation - Total",
]

In [186]:
# Check which columns are present and which are missing
present_columns = [col for col in columns_required if col in df.columns]
present_columns

['Net Income after Tax',
 'Total Assets',
 'Market Capitalization',
 'Depreciation - Total']

In [187]:
missing_columns = [col for col in columns_required if col not in df.columns]
missing_columns

[]

In [188]:
# Standardize the specified columns using the z-score formula
columns_to_standardize = ["Net Income after Tax", "Total Assets", "Market Capitalization"]

for col in columns_to_standardize:
    mean = df[col].mean()
    std = df[col].std()
    df[f"{col}_zscore"] = (df[col] - mean) / std
# Identify firms where at least two standardized metrics exceed 2.5
zscore_columns = [f"{col}_zscore" for col in columns_to_standardize]

df["Outlier_Count"] = df[zscore_columns].gt(2.5).sum(axis=1)

outlier_firms = df[df["Outlier_Count"] >= 2]

In [189]:
outlier_firms_summary = outlier_firms[["Unnamed: 1", *zscore_columns, "Outlier_Count"]]
outlier_firms_summary.head()

,Unnamed: 1,Net Income after Tax_zscore,Total Assets_zscore,Market Capitalization_zscore,Outlier_Count
5534,ACB.HM43465,3.080561,3.515392,4.429243,3
5535,ACB.HM43830,3.637275,4.117991,4.496987,3
5536,ACB.HM44196,4.704219,4.796602,4.604659,3
5537,ACB.HM44561,5.928720,5.722388,7.506128,3
5538,ACB.HM44926,8.534364,6.613312,11.608311,3

In [190]:
# Calculate the average 'Depreciation - Total' for these outlier firms
average_depreciation_outliers = outlier_firms["Depreciation - Total"].mean()
average_depreciation_outliers

np.float64(857114533701.7867)

In [191]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9536 entries, 503 to 4120
Data columns (total 52 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Unnamed: 0                                                    9536 non-null   object
 1   Unnamed: 1                                                    9536 non-null   object
 2   ID                                                            9536 non-null   object
 3   Unnamed: 3                                                    9536 non-null   object
 4   Date                                                          9536 non-null   datetime64[ns]
 5   Total Assets                                                  9442 non-null   float64
 6   Net Income after Tax                                          9536 non-null   float64
 7   Operating Expenses - Total                                    9536 non-null   float64
 8   Other Operating Income                                        9536 non-null   float64
 9   Other Operating Expense                                       9536 non-null   float64
 10  Revenue from Business Activities - Total                      9536 non-null   float64
 11  Cost of Operating Revenue                                     9536 non-null   float64
 12  Revenue from Goods & Services                                 9536 non-null   float64
 13  Gross Revenue from Business Activities - Total                9536 non-null   float64
 14  Debt - Total                                                  9536 non-null   float64
 15  Total Liabilities                                             9444 non-null   float64
 16  Interest Income - Actual                                      9536 non-null   float64
 17  Interest Expense - Net of (Interest Income)                   9536 non-null   float64
 18  Inventory - Actual                                            9536 non-null   float64
 19  Cash & Cash Equivalents - Total                               9437 non-null   float64
 20  Working Capital                                               9050 non-null   float64
 21  Total Current Assets                                          9052 non-null   float64
 22  Short-Term Debt & Current Portion of Long-Term Debt           9536 non-null   float64
 23  Dividends Paid - Cash - Total - Cash Flow                     9536 non-null   float64
 24  Cost of Goods Sold / Sales, % (Pvt)                           9536 non-null   float64
 25  Cost of Operating Revenue.1                                   9536 non-null   float64
 26  Accounts Payable including Accrued Expenses - Long-Term       9536 non-null   float64
 27  Payables & Accrued Expenses                                   9536 non-null   float64
 28  Provision of Doubtful Trade Acct & Trade Notes Payable Total  21 non-null     float64
 29  Retained Earnings - Total                                     9536 non-null   float64
 30  Property Plant & Equipment - Gross - Total                    9536 non-null   float64
 31  Property Plant & Equipment - Net - Total                      9536 non-null   float64
 32  Intangible Assets - Gross - Total                             9536 non-null   float64
 33  Market Capitalization                                         9536 non-null   float64
 34  Total Fixed Assets - Net                                      9536 non-null   float64
 35  Depreciation - Total                                          9536 non-null   float64
 36  Income Taxes                                                  9536 non-null   float64
 37  industry                                                      9536 non-null   object
 38  age                                                           9536 non-null   int64
 39  Debt Ratio                                                    9442 non-null   float64
 40  Earning Quality                                               9468 non-null   float64
 41  Earnings Quality Category                                     9536 non-null   object
 42  Liquidity Index                                               9043 non-null   float64
 43  Liquidity Flag                                                9536 non-null   object
 44  Profit Growth                                                 8823 non-null   float64
 45  Profit Margin                                                 9468 non-null   float64
 46  3-Year Moving Avg                                             8132 non-null   float64
 47  year                                                          9536 non-null   int32
 48  Net Income after Tax_zscore                                   9536 non-null   float64
 49  Total Assets_zscore                                           9442 non-null   float64
 50  Market Capitalization_zscore                                  9536 non-null   float64
 51  Outlier_Count                                                 9536 non-null   int64
dtypes: datetime64[ns](1), float64(41), int32(1), int64(2), object(7)
memory usage: 4.1+ MB

### 18.	Filter the dataset to include only firms that meet the following criteria:
	•	Positive Working Capital.
	•	Debt Ratio below the median value for the dataset.
	•	Profit Margin above 0.1.

In [192]:
# Calculate the median Debt Ratio
median_debt_ratio = df["Debt Ratio"].median()

In [193]:
# Filter the dataset based on the given criteria
filtered_firms = df[
    (df["Working Capital"] > 0) &
    (df["Debt Ratio"] < median_debt_ratio) &
    (df["Profit Margin"] > 0.1)
]

filtered_firms_summary = filtered_firms[
    ["Unnamed: 1", "Working Capital", "Debt Ratio", "Profit Margin"]
]
filtered_firms_summary.head()

       Unnamed: 1  Working Capital  Debt Ratio  Profit Margin
8873  AAM.HM40178     2.287428e+11    0.163772       0.113328
8875  AAM.HM40908     2.139878e+11    0.129778       0.100106
3577  ABR.HM43830     1.265955e+11    0.180788       0.310505
3578  ABR.HM44196     1.559717e+11    0.162874       0.251670
3579  ABR.HM44561     1.837870e+11    0.181591       0.212001

In [194]:
filtered_firms.shape[0]

1947

### Save this filtered dataset as a new DataFrame and describe its characteristics (e.g., number of firms, industries, and average financial metrics).

In [195]:
filtered_firms_summary.to_excel('filtered_dataset_characteristic.xlsx', index=False)
# Describe Characteristics: To get the number of firms, industries, and average financial metrics:
num_firms = filtered_firms['Unnamed: 1'].nunique()
num_industries = filtered_firms['industry'].nunique()
avg_metrics = filtered_firms[['Working Capital', 'Debt Ratio', 'Profit Margin']].mean()

print(f"Number of firms: {num_firms}")
print(f"Number of industries: {num_industries}")
print(f"Average metrics:\n{avg_metrics}")

Number of firms: 1947
Number of industries: 11
Average metrics:
Working Capital    1.121963e+12
Debt Ratio         2.509252e-01
Profit Margin               inf
dtype: float64

### 19. Yearly Revenue and Profit Analysis
For each firm:

    •	Calculate the year-over-year percentage change in both Revenue from Business Activities - Total and Net Income after Tax.

    •	Classify firms based on their trends over the years:

    •	Consistently Growing Firms: Positive percentage change in both revenue and profit for at least 80% of the years.

    •	Fluctuating Firms: Positive percentage change in either revenue or profit for between 40% and 80% of the years.

    •	Declining Firms: Positive percentage change in either revenue or profit for less than 40% of the years.

    •	For each category, summarize:

    •	Average Operating Expenses - Total.

    •	Total Market Capitalization.

    •	Percentage of firms with a Debt Ratio greater than 0.5.

In [196]:
# Verify if all required columns for the analysis are present
columns_needed = [
    "Unnamed: 1",  # Firm identifier
    "year",  # Year for calculating trends
    "Revenue from Business Activities - Total",  # Revenue
    "Net Income after Tax",  # Profit
    "Operating Expenses - Total",  # Operating expenses
    "Market Capitalization",  # Market capitalization
    "Debt Ratio",  # Debt ratio
]

In [197]:
# Check the presence of these columns
present_columns = [col for col in columns_needed if col in df.columns]
present_columns

['Unnamed: 1',
 'year',
 'Revenue from Business Activities - Total',
 'Net Income after Tax',
 'Operating Expenses - Total',
 'Market Capitalization',
 'Debt Ratio']

In [198]:
missing_columns = [col for col in columns_needed if col not in df.columns]
missing_columns

[]

In [199]:
df_sorted = df.sort_values(by=["Unnamed: 1", "year"])

In [200]:
df = df.dropna(subset=["Revenue from Business Activities - Total", "Net Income after Tax"])

In [201]:
# Calculate Year-over-Year Percentage Change
df["Revenue_YoY"] = df.groupby("Date")["Revenue from Business Activities - Total"].pct_change() * 100
df["Profit_YoY"] = df.groupby("Date")["Net Income after Tax"].pct_change() * 100

In [202]:
# Calculate the year-over-year percentage change in both Revenue from Business Activities - Total and Net Income after Tax.
firm_trends = df.groupby("ID").agg(
    positive_revenue_growth=("Revenue_YoY", lambda x: (x > 0).mean()),
    positive_profit_growth=("Profit_YoY", lambda x: (x > 0).mean()),
)
# Classify firms based on their trends over the years:
'''
Consistently Growing Firms: Positive percentage change in both revenue and profit for at least 80% of the years
Fluctuating Firms: Positive percentage change in either revenue or profit for between 40% and 80% of the years.
Declining Firms: Positive percentage change in either revenue or profit for less than 40% of the years.
'''
firm_trends["Classification"] = pd.cut(
    firm_trends[["positive_revenue_growth", "positive_profit_growth"]].mean(axis=1),
    bins=[0, 0.4, 0.8, 1],
    labels=["Declining", "Fluctuating", "Consistently Growing"],
)
firm_trends

        positive_revenue_growth  positive_profit_growth        Classification
ID
AAA.HM                 0.000000                0.000000                   NaN
AAM.HM                 0.125000                0.062500             Declining
AAT.HM                 0.750000                0.625000           Fluctuating
AAV.HN                 0.600000                0.600000           Fluctuating
ABR.HM                 0.000000                0.222222             Declining
...                         ...                     ...                   ...
WCS.HN                 0.000000                0.437500             Declining
WSS.HN                 0.125000                0.062500             Declining
X20.HN                 0.888889                0.777778  Consistently Growing
YBM.HM                 0.000000                0.250000             Declining
YEG.HM                 0.666667                0.666667           Fluctuating

[702 rows x 3 columns]

In [203]:
'''For each category, summarize:
	•	Average Operating Expenses - Total.
	•	Total Market Capitalization.
	•	Percentage of firms with a Debt Ratio greater than 0.5.
'''
summary = df.merge(firm_trends, on="ID").groupby("Classification").agg(
    average_operating_expenses=("Operating Expenses - Total", "mean"),
    total_market_capitalization=("Market Capitalization", "sum"),
    percent_high_debt_ratio=("Debt Ratio", lambda x: (x > 0.5).mean() * 100)
)
summary

,average_operating_expenses,total_market_capitalization,percent_high_debt_ratio
Classification,,,
Declining,5.323782e+11,1.902391e+15,40.307793
Fluctuating,2.147921e+12,7.329887e+15,56.849791
Consistently Growing,5.909507e+12,4.157042e+16,55.895372

In [204]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9536 entries, 503 to 4120
Data columns (total 54 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Unnamed: 0                                                    9536 non-null   object
 1   Unnamed: 1                                                    9536 non-null   object
 2   ID                                                            9536 non-null   object
 3   Unnamed: 3                                                    9536 non-null   object
 4   Date                                                          9536 non-null   datetime64[ns]
 5   Total Assets                                                  9442 non-null   float64
 6   Net Income after Tax                                          9536 non-null   float64
 7   Operating Expenses - Total                                    9536 non-null   float64
 8   Other Operating Income                                        9536 non-null   float64
 9   Other Operating Expense                                       9536 non-null   float64
 10  Revenue from Business Activities - Total                      9536 non-null   float64
 11  Cost of Operating Revenue                                     9536 non-null   float64
 12  Revenue from Goods & Services                                 9536 non-null   float64
 13  Gross Revenue from Business Activities - Total                9536 non-null   float64
 14  Debt - Total                                                  9536 non-null   float64
 15  Total Liabilities                                             9444 non-null   float64
 16  Interest Income - Actual                                      9536 non-null   float64
 17  Interest Expense - Net of (Interest Income)                   9536 non-null   float64
 18  Inventory - Actual                                            9536 non-null   float64
 19  Cash & Cash Equivalents - Total                               9437 non-null   float64
 20  Working Capital                                               9050 non-null   float64
 21  Total Current Assets                                          9052 non-null   float64
 22  Short-Term Debt & Current Portion of Long-Term Debt           9536 non-null   float64
 23  Dividends Paid - Cash - Total - Cash Flow                     9536 non-null   float64
 24  Cost of Goods Sold / Sales, % (Pvt)                           9536 non-null   float64
 25  Cost of Operating Revenue.1                                   9536 non-null   float64
 26  Accounts Payable including Accrued Expenses - Long-Term       9536 non-null   float64
 27  Payables & Accrued Expenses                                   9536 non-null   float64
 28  Provision of Doubtful Trade Acct & Trade Notes Payable Total  21 non-null     float64
 29  Retained Earnings - Total                                     9536 non-null   float64
 30  Property Plant & Equipment - Gross - Total                    9536 non-null   float64
 31  Property Plant & Equipment - Net - Total                      9536 non-null   float64
 32  Intangible Assets - Gross - Total                             9536 non-null   float64
 33  Market Capitalization                                         9536 non-null   float64
 34  Total Fixed Assets - Net                                      9536 non-null   float64
 35  Depreciation - Total                                          9536 non-null   float64
 36  Income Taxes                                                  9536 non-null   float64
 37  industry                                                      9536 non-null   object
 38  age                                                           9536 non-null   int64
 39  Debt Ratio                                                    9442 non-null   float64
 40  Earning Quality                                               9468 non-null   float64
 41  Earnings Quality Category                                     9536 non-null   object
 42  Liquidity Index                                               9043 non-null   float64
 43  Liquidity Flag                                                9536 non-null   object
 44  Profit Growth                                                 8823 non-null   float64
 45  Profit Margin                                                 9468 non-null   float64
 46  3-Year Moving Avg                                             8132 non-null   float64
 47  year                                                          9536 non-null   int32
 48  Net Income after Tax_zscore                                   9536 non-null   float64
 49  Total Assets_zscore                                           9442 non-null   float64
 50  Market Capitalization_zscore                                  9536 non-null   float64
 51  Outlier_Count                                                 9536 non-null   int64
 52  Revenue_YoY                                                   9476 non-null   float64
 53  Profit_YoY                                                    9476 non-null   float64
dtypes: datetime64[ns](1), float64(43), int32(1), int64(2), object(7)
memory usage: 4.2+ MB

### 20.	Perform a year-over-year comparison of Operating Expenses - Total and Revenue from Business Activities - Total:
	•	Calculate the expense-to-revenue ratio for each year.
	•	Identify years where the ratio increased compared to the previous year for more than 50% of firms.

In [205]:
# Calculate the Expense-to-Revenue Ratio for each year
df['Expense_to_Revenue Ratio'] = (
    df["Operating Expenses - Total"] / df["Revenue from Business Activities - Total"]
)
df['Expense_to_Revenue Ratio']

503     0.859584
504     0.866089
505     0.820216
506     0.869203
507     0.907701
          ...
4116    1.292034
4117    1.194061
4118    1.244331
4119    1.030447
4120    0.917349
Name: Expense_to_Revenue Ratio, Length: 9536, dtype: float64

In [206]:
# Calculate year-over-year change in the ratio
df["Expense_to_Revenue_YoY_Change"] = (
    df.groupby("ID")["Expense_to_Revenue Ratio"]
    .pct_change() * 100
)
df['Expense_to_Revenue_YoY_Change']

503           NaN
504      0.756777
505     -5.296552
506      5.972415
507      4.429149
          ...
4116    47.647857
4117    -7.582816
4118     4.210032
4119   -17.188677
4120   -10.975695
Name: Expense_to_Revenue_YoY_Change, Length: 9536, dtype: float64

In [207]:
# Identify years where the ratio increased compared to the previous year for more than 50% of firms.
yoy_increase = df.groupby("year")["Expense_to_Revenue_YoY_Change"].apply(
    lambda x: (x > 0).mean() > 0.5
)
yoy_increase

year
2008    False
2009    False
2010    False
2011     True
2012     True
2013     True
2014    False
2015    False
2016    False
2017    False
2018    False
2019     True
2020     True
2021    False
2022     True
2023     True
Name: Expense_to_Revenue_YoY_Change, dtype: bool

In [208]:
years_with_increase = yoy_increase[yoy_increase].index
print(f"Years where more than 50% of firms had an increase in expense-to-revenue ratio: {years_with_increase}")

Years where more than 50% of firms had an increase in expense-to-revenue ratio: Index([2011, 2012, 2013, 2019, 2020, 2022, 2023], dtype='int32', name='year')

### Explain:
''' Years where more than 50% of firms had an increase in expense-to-revenue ratio include:
    2011,2012,2013,2019,2020,2022,2023
'''

In [209]:
df_cleaned = df

In [210]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9536 entries, 503 to 4120
Data columns (total 56 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Unnamed: 0                                                    9536 non-null   object
 1   Unnamed: 1                                                    9536 non-null   object
 2   ID                                                            9536 non-null   object
 3   Unnamed: 3                                                    9536 non-null   object
 4   Date                                                          9536 non-null   datetime64[ns]
 5   Total Assets                                                  9442 non-null   float64
 6   Net Income after Tax                                          9536 non-null   float64
 7   Operating Expenses - Total                                    9536 non-null   float64
 8   Other Operating Income                                        9536 non-null   float64
 9   Other Operating Expense                                       9536 non-null   float64
 10  Revenue from Business Activities - Total                      9536 non-null   float64
 11  Cost of Operating Revenue                                     9536 non-null   float64
 12  Revenue from Goods & Services                                 9536 non-null   float64
 13  Gross Revenue from Business Activities - Total                9536 non-null   float64
 14  Debt - Total                                                  9536 non-null   float64
 15  Total Liabilities                                             9444 non-null   float64
 16  Interest Income - Actual                                      9536 non-null   float64
 17  Interest Expense - Net of (Interest Income)                   9536 non-null   float64
 18  Inventory - Actual                                            9536 non-null   float64
 19  Cash & Cash Equivalents - Total                               9437 non-null   float64
 20  Working Capital                                               9050 non-null   float64
 21  Total Current Assets                                          9052 non-null   float64
 22  Short-Term Debt & Current Portion of Long-Term Debt           9536 non-null   float64
 23  Dividends Paid - Cash - Total - Cash Flow                     9536 non-null   float64
 24  Cost of Goods Sold / Sales, % (Pvt)                           9536 non-null   float64
 25  Cost of Operating Revenue.1                                   9536 non-null   float64
 26  Accounts Payable including Accrued Expenses - Long-Term       9536 non-null   float64
 27  Payables & Accrued Expenses                                   9536 non-null   float64
 28  Provision of Doubtful Trade Acct & Trade Notes Payable Total  21 non-null     float64
 29  Retained Earnings - Total                                     9536 non-null   float64
 30  Property Plant & Equipment - Gross - Total                    9536 non-null   float64
 31  Property Plant & Equipment - Net - Total                      9536 non-null   float64
 32  Intangible Assets - Gross - Total                             9536 non-null   float64
 33  Market Capitalization                                         9536 non-null   float64
 34  Total Fixed Assets - Net                                      9536 non-null   float64
 35  Depreciation - Total                                          9536 non-null   float64
 36  Income Taxes                                                  9536 non-null   float64
 37  industry                                                      9536 non-null   object
 38  age                                                           9536 non-null   int64
 39  Debt Ratio                                                    9442 non-null   float64
 40  Earning Quality                                               9468 non-null   float64
 41  Earnings Quality Category                                     9536 non-null   object
 42  Liquidity Index                                               9043 non-null   float64
 43  Liquidity Flag                                                9536 non-null   object
 44  Profit Growth                                                 8823 non-null   float64
 45  Profit Margin                                                 9468 non-null   float64
 46  3-Year Moving Avg                                             8132 non-null   float64
 47  year                                                          9536 non-null   int32
 48  Net Income after Tax_zscore                                   9536 non-null   float64
 49  Total Assets_zscore                                           9442 non-null   float64
 50  Market Capitalization_zscore                                  9536 non-null   float64
 51  Outlier_Count                                                 9536 non-null   int64
 52  Revenue_YoY                                                   9476 non-null   float64
 53  Profit_YoY                                                    9476 non-null   float64
 54  Expense_to_Revenue Ratio                                      9467 non-null   float64
 55  Expense_to_Revenue_YoY_Change                                 8794 non-null   float64
dtypes: datetime64[ns](1), float64(45), int32(1), int64(2), object(7)
memory usage: 4.4+ MB

In [211]:
yoy_summary = pd.concat([df['ID'],df['year'],df['Expense_to_Revenue_YoY_Change']],axis=1)
yoy_summary

          ID  year  Expense_to_Revenue_YoY_Change
503   AAA.HM  2008                            NaN
504   AAA.HM  2009                       0.756777
505   AAA.HM  2010                      -5.296552
506   AAA.HM  2011                       5.972415
507   AAA.HM  2012                       4.429149
...      ...   ...                            ...
4116  YEG.HM  2019                      47.647857
4117  YEG.HM  2020                      -7.582816
4118  YEG.HM  2021                       4.210032
4119  YEG.HM  2022                     -17.188677
4120  YEG.HM  2023                     -10.975695

[9536 rows x 3 columns]

In [212]:
with pd.ExcelWriter('final_output.xlsx') as writer:
    # Write the cleaned dataset
    df_cleaned.to_excel(writer, sheet_name='Cleaned Data', index=False)

    # Write the summary tables
    yoy_summary.to_excel(writer, sheet_name='YoY Summary')
    firm_trends.to_excel(writer, sheet_name='Firm Trends')
    summary.to_excel(writer, sheet_name='Summary Metrics')